.contact {
  background-color: #fff;
  padding-top: 72px;
  padding-bottom: 72px;
}

.contact-header {
  height: 395px;
  background-image: url('../img/contacto.png');
  background-position: center;
  text-align: center;
  padding-top: 134px;
  background-size: 100%;
}

.contact-header h2 {
  color: #fff;
  font-size: 40px;
  margin-top: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.contact h2 {
  color: #aed136;
  font-size: 37px;
  text-transform: uppercase;
  margin-bottom: 26px;
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
  letter-spacing: 5px;
}

.contact p {
  margin-bottom: 26px;
  color: #818181;
}

.contact-info {
  padding-top: 9px;


}
.contact-info .phone {
  float: left;
  width: 63%;
}
.contact-info span {
  display: block;
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 6px;
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
  color: #bbbdbf;
  letter-spacing: 3px;
}
.contact-info p,
.contact-ok p {
  font-size: 20px;
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
  color: #bbbdbf;
}

.contact input,
.contact textarea {
  width: 100%;
  font-size: 20px;
  padding: 8px 3px 2px 14px;
  line-height: 1;
  color: #818181;
  background-color: #F1F1F1;
  border: none;
}

.contact input::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
   color: #BBBDBF;
}
.contact input:-moz-placeholder,
.contact textarea:-moz-placeholder { /* Firefox 18- */
   color: #BBBDBF;
}
.contact input::-moz-placeholder,
.contact textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #BBBDBF;
}
.contact input:-ms-input-placeholder,
.contact textarea:-ms-input-placeholder {
   color: #BBBDBF;
}
.contact .submit-container {
  text-align: right;
}
.contact button {
  background-color: #aed136;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  padding: 7px 48px 4px;
}
.contact-container-left{
  padding:0 106px;
}
.contact-container-right{
  padding:0 56px;
}
.social i{
  font-style: normal;
  font-size: 25px;
}
