.contact {
  background-color: #fff;
  padding-top: 84px;
}

.contact-header {
  height: 350px;
  background-image: url('../img/contacto.png');
  background-position: center;
  text-align: center;
  padding-top: 97px;
  background-size: 100%;
}

.contact-header h2 {
  color: #fff;
  font-size: 40px;
  margin-top: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.contact h2 {
  color: #aed136;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 26px;
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
}

.contact p {
  margin-bottom: 22px;
  color: #818181;
}

.contact-info {
  padding-top: 9px;
  

}
.contact-info .phone {
  float: left;
  width: 50%;
}
.contact-info span {
  display: block;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 6px;
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
  color: #bbbdbf;
}
.contact-info p,
.contact-ok p {
  font-size: 24px;
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
  color: #bbbdbf;
}

.contact input,
.contact textarea {
  width: 100%;
  font-size: 20px;
  padding: 8px 3px 2px 14px;
  line-height: 1;
  color: #818181;
  background-color: #F1F1F1;
  border: none;
}

.contact input::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder {
   color: #BBBDBF;
}
.contact input:-moz-placeholder,
.contact textarea:-moz-placeholder { /* Firefox 18- */
   color: #BBBDBF;
}
.contact input::-moz-placeholder,
.contact textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #BBBDBF;
}
.contact input:-ms-input-placeholder,
.contact textarea:-ms-input-placeholder {
   color: #BBBDBF;
}
.contact .submit-container {
  text-align: right;
}
.contact button {
  background-color: #aed136;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  padding: 7px 48px 4px;
}
