ul > li {

}

.dashTextarea{
    resize: none ;
}

.supplier .frame {
    border: #cecece solid 1px;
    border-radius: 5px;
    background: #fff;
    padding: 20px;
}

.supplier .frame.header {
    margin-top: 20px;
    border-radius: 5px;
}

.supplier .frame.header.notif {
    padding: 15px 20px;
}

.supplier .avatar {
    width: 100%;
    max-width: 250px;
}

.supplier .index-title {
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 29px;
}

.supplier .since {
    font-size: 10px;
    margin: 5px 0;
}

.supplier .social {
    text-align: center;
}
.social i {
    font-style: normal;
    font-size: 19px;
}
.supplier .social a {
    color: #818181;
    font-size: 2.3rem;
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

.supplier .social a:hover {
    color: #CECECE;
    -webkit-transition: color 10ms;
    -moz-transition: color 10ms;
    -ms-transition: color 10ms;
    -o-transition: color 10ms;
    transition: color 10ms;
}

.frame .form-group label {
    color: #818181;
    font-size: 1.4rem;
}

.frame .form-group input, .frame .form-group textarea {
    border: 1px #cecece solid;
}

.frame .form-control.invalid {
    border: 1px #ee3470 solid !important;
}

.supplier .sub-title {
    padding: 5px 0 0 0;
    font-size: 25px;
    font-weight: bold ;
    color: #818181;
    text-transform: uppercase;
}

.supplier .btn-default {
    font-size: 1em;
    margin: 15px 0;
}

.btn-save {
    background: #ee3470;
    color: #fff;
    margin: 10px 0;
    font-size: 1em;
}

.supplier .menu-item {
    display: inline-block;
    text-align: center;
    background: #cecece;
}

.supplier .menu-item.active,
.supplier .menu-item:hover,
.supplier .menu-item.odd:hover {
    background: #aed136;
    color: #FFF;
}

.supplier .menu-item.odd {
    background: #c0c0c0;
}

.supplier .menu-item a {
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 60px;
    display: block;
}

.supplier .info-group {
    margin: 0 0 20px 0;
}

.dashboard-error {
    color:#ee3470;
}

.supplier .default-image {
    width: 150px;
    height: 150px;
    border: none;
}

.chat-title{
    text-align: center;
    height: 45px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
}
.white-bg{
    background-color: #fff;
    border: 1px solid #ececec;
    border-bottom: 0px;
}

.search-chat{
    background-color: #F1F2F2;
    text-align: center;
    color: #818181;
    margin-left: 5px;
}

.chat-message-box{
    background-color: #F1F2F2;
    color: #818181;
    letter-spacing: 2px;
}

.chat-border{
    padding: 30px 15px 0px 15px !important;
    border: 1px solid #ececec;
    min-height: 557px;
    background: #fff;
}

.chat-border .active-room{
    font-weight: 600;
}

.chat-spacer{
    padding: 10px;
}

.chat-user{
    padding: 10px;
    border-top: 1px solid #ececec;
}

.available-suppliers{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 418px;
}
.chat-supplier{
    padding-top: 5px;
    padding-bottom: 5px;
}
.chat-supplier:hover{
    background-color: #F1F2F2;
}
.chat-user:hover,.chat-supplier:hover{
    cursor: pointer;
}
.chat-active{
    background-color: #F1F2F2;
}

.chat-avatar{
    width: 30px;
}

.globe-green{
    background-color: #AFCF44;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 5px;
    display: inline-block;
    color:#FFF;
    margin-right: 5px;
    max-width: 95%;
    word-wrap: break-word;
    float: left;
    clear:both;
    letter-spacing: 1px;
}

.globe-purple{
    background-color: #8B4194;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 5px;
    display: inline-block;
    color:#FFF;
    float: right;
    clear:both;
    margin-right: 5px;
    max-width: 95%;
    text-align: right;
    word-wrap: break-word;
    letter-spacing: 1px;
}
.chat-user{
    padding-right: 10px;
}
.chat-conversation{
    margin-right: -15px;
    margin-left: -15px;
}
.messages, .chat-conversation{
    height: 416px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.messages {
  background: url(../img/mi_gran_dia_pattern.png);
border: 1px solid #eee;
padding: 10px;
}

.chat-suppliers{
    height: 470px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-container-planner {
    min-height: 565px;
    margin-bottom: 52px;
}

.chat-container-supplier{
    min-height: 617px;
    margin-bottom: 52px;
}

.chat-username{
    color: #58595D;
    font-weight: bold;
}

.btn-send{
    padding: 5px 20px;

    background-color: #ceafd2;
    color: #fff;
    float: right;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    margin-bottom: 5px;
    display: inline-block;
    clear:both;
}
.form-send{
    margin-top: 10px;
}

.dashboard-service {
  margin: 0 !important;
  font-size: 1em;
background: #cecece;
color: #818181;
border-radius: 5px !important;
text-align: left;
}

 .dashboard-faq{
       margin: 0 0 20px 0;
 }

 .dashboard-faq .dashboard-question {
   font-weight: 600;
 }

 .dashboard-faq p{
       letter-spacing: 1px;
 }

.confirmation-pending {
  color:red;
  letter-spacing: 2px;
}

.profile-active {
  letter-spacing: 2px;
  color:inherit;
}

.confirmation-pending .btn-default {
    margin: 0px 5px;
}

.confirmation-sent {
  color:green;
  letter-spacing: 2px;
}

.form-control {
    color: #818181;
}

.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
    margin-left: 5px;
    background: #f8f8f8;
    border-radius: 4px;
    padding: 0 5px;
    margin-bottom: 6px;
}

.ta-scroll-window.form-control {
    position: relative;
    padding: 0;
    margin-top: 6px;
}

.text-editor {
  margin-top: 5px;
}

.btn-default:disabled, .btn-default[disabled] {
    background-color: inherit !important;
    background-image: none;
}

.ta-scroll-window > .ta-bind {
    border: 1px #cecece solid;
}

@media only screen and (max-width: 768px) {
  .supplier-public .title {
    text-align: center;
        margin-top: 15px;
  }

  .supplier-public .info {
    text-align: center;
    margin-top:15px;
  }

  .supplier-public .info p {
    margin-bottom:5px;
  }

  .supplier-public .social {
    text-align: center;
  }

  .supplier-public .social a {
    display: inline-block;
  }

  .supplier .votes {
    width: auto !important;
  }
}

@media only screen and (min-width: 768px) {
  .supplier-public .title {


  }

  .supplier-public .info {

  }

  .supplier-public .social {

  }

  .supplier .votes {

  }

.supplier-public .supplier-pic {
  margin-bottom:35px;
}
}

.supplier-upgrade {
  padding: 4px 7px;
  line-height: 8PX;
  color: #fff;
  font-weight: bold;
  background: #ee3470;
  border-radius: 3px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.supplier-chat-upgrade {
  padding: 12px;
  line-height: 8PX;
  color: #fff;
  font-weight: bold;
  background: #ee3470;
  border-radius: 3px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.info-not-set {
  color:#ccc;
}
