.forgot-password {
    padding: 80px 20px;
    background-color: #ECECEC;
}

.forgot-password h1 {
    text-transform: uppercase;
        text-align: center;
        color:#8c3e96;
}

@media only screen and (max-width: 768px) {
  .forgot-password .title{
        margin-top: 190px;
  }
}
