.form-control {
    font-size: 1em;
    letter-spacing: 3px;
    color: #ee3470;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
}

.form-control .placeholder {
    color: #818181;
}

.form-control {
    resize: none;
}

textarea.form-control {
    min-height: 140px;
}

.form-control::-webkit-input-placeholder {
    text-transform: uppercase;
}

.form-control:-ms-input-placeholder {
    text-transform: uppercase;
}

.form-control:-moz-placeholder {
    text-transform: uppercase;
}

select.form-control {
    border: 1px #f0f0f0 solid;
}
.form-control.invalid {
	border: 1px #ee3470 solid;
}

form .error {
	position: absolute;
    padding: 0 0 0 12px;
    color: #ee3470;
}

form .error_contact {
	position: absolute;
    padding: 4px 0 0 13px;
    color: #ee3470;
}

.signup-error {
  padding: 0px 18px;
  color: #ee3470;
  text-align: center;
}

.signup-field input[disabled] {
    background-color: #e0e0e0;
    opacity: 1;
    color: #818181;
}

.signup-field .opening-hours label {
    font-size: 1.4rem;
    float: left;
    line-height: 38px;
    color:#888;
}

.signup-field .opening-hours select{
    float: left;
    width: 131px;
    margin: 0 10px 0 0;
}

.signup-field .opening-hours input{
    float: left;
    width: 90px;
    margin: 0 8px;
}

.form-step .btn.invalid {
	background: #ee3470;
    cursor: not-allowed;
}

.question {
  padding: 20px 20px 35px 20px;
  background: #eee;
  margin-bottom: 20px;
  border-radius: 7px;
}

.question * {
    display: block;
    width: 100%;
}

.question label {
    color: #818181;
    font-size: 1.5rem;
}

.default-image-title {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #818181;
    display: block;
    padding: 10px 0 0 0;
}

.default-image {
    width: 90px;
    height: 90px;
    border: 2px #cecece dashed;
    background: url(../img/photo-placeholder.jpg) 0;
    background-size: contain;
    margin: 0 20px 20px 0;
    display: inline;
    float: left;
}

.default-image-caption span {
    display: block;
    margin: 5px 10px;
}

 .opening-hours .from-to {
   float:left;
   padding:8px;
   color:#888;
 }

.steps {
margin: 0;
padding: 0;
}

.steps ul {
list-style-type: none;
margin:0;
padding: 0;
}

.steps ul li {
  padding: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #aaa;
      cursor: default;
}
.steps ul li.selected {
  background-color: #858;
      color: white;
}

.questions-intro {
  padding: 20px 20px 25px 20px;
background: #f3f3f3;
margin-bottom: 30px;
border-radius: 7px;
}

h1.questions {
  padding-bottom: 0px;
}

.pic-error {
  border: 2px solid red;
    width: 150px;
    height: 150px;
    background: rgba(255,43,35,.5);
    color: #fff;
    letter-spacing: 2px;
    margin: 0 20px 20px 0;
    padding: 7px;
    font-size: 12px;
}

.pic-error .glyphicon {
  color:red;
  font-size: 24px;
  display: block;
  margin: 8px 0;
}

.pics-warning {
  margin: 0 0 12px 0;
background: #f0f0f0;
display: inline-block;
padding: 4px 8px;
border-radius: 4px;
font-size: 13px;
}


.pics-warning .warning {
  color: red;

}

.pic-error-small {
  border: 2px solid red;
  width: 90px;
  height: 90px;
  background: rgba(255,43,35,.5);
  color: #fff;
  letter-spacing: 2px;
  font-size: 12px;
  text-align: center;
  float: left;
      margin: 0 20px 20px 0;
}

.pic-error-small .glyphicon {
  color:red;
  font-size: 24px;
  display: block;
  margin: 8px 0;
}

.information {
  color: #888;
    margin: 3px 12px;
}

.pending-profile {
  margin: 15px;
    background: #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    display: inline-block;
    color: #666;
    letter-spacing: 1px;
    font-size: 12px;
    width: 50%;
}
