.guests {
    color: #818181;
    padding: 0 15px 40px 15px;
        min-height: 400px;
}

.guests .btn-edit {
    margin: 10px 0 10px 0;
}

.guests .guests-title {
    margin: 60px 0 10px 0;
}

.guests .guests-title span {
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    color: #818181;
    font-size: 1.5rem;
}

.guests .guest {
    background-color: #FFF;
    padding: 5px 0;
    border-radius: 3px;
    margin: 0 0 15px 0;
}

.guests .guest-group {
    padding: 0;
}

.guest-group .group-name{
    background-color: #FFF;
    border-radius: 3px;
    padding: 8px 10px;
    margin: 0 10px;
    flex-grow: 1;
    height: 35px
}

.guest-group .group-id,
.guest-group .group-action {
    float: left;
    display: inline;
    border-radius: 3px;
    color: #FFF;
    text-align: center;
    line-height: 35px;
    width: 35px;
    height: 35px;
    margin: 0 0 10px 0;
}

.guest-group .group-id {
    background-color: #aed136;
}

.guest-group .group-action{
    background-color: #cecece;
}

.guest-group .group-action i {
    padding: 8px 0 0 0;
}

.guest-group .guest {
    padding: 7px;
}

.guest-group .btn {
    padding: 6px 3px;
}

.guests .middle {
    text-align: center;
}

.guest .fa-check {
    color: #aed136;
}

.guest .fa-times {
    color: #ee3470;
}

.guest .fa-minus {
    color: #8c3e96;
}

.guest-group .fa,
.guest .fa {
    font-size: 2rem;
}

.guest input[type=text] {
    border: none;
    width: 45%;
    padding: 3px;
}

.guest input.invalid,
.guest select.invalid {
    border: 1px #ee3470 solid;
    border-radius: 3px;
}

.guest select {
  width: 100%;
      border: none;
      background: #e5e5e5;
      padding: 3px;
      border-radius: 3px;
}

.btn-guest-add {
    padding: 2px 2px 0 5px;
    background: rgba(192, 192, 192, 0.78);
    border-radius: 50%;
    margin:0;
}

.btn-guest-add .fa {
    font-size: inherit;
}

.guests .disabled {
    color: #818181;
}

.guests .guest-group-form {
    border-radius: 3px;
    background: #FFF;
    padding: 5px 0;
}

.guests .guest-group-form-edit {
    height: 85px;
    margin: 0 10px 10px 10px;
}

.guests .guest-group-form-edit input[type=text],
.guests .guest-group-form input[type=text] {
    border: none;
    padding: 3px;
}

.guests .guest-group-form-edit input[type=text].invalid,
.guests .guest-group-form input[type=text].invalid {
    border: 1px #ee3470 solid;
    border-radius: 3px;
}
