.guests {
    color: #818181;
}
.guests .guests-title {
    margin: 60px 0 10px 0;
}

.guests .guests-title span {
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    color: #818181;
    font-size: 1.5rem;
}

.guests .guest {
    background-color: #FFF;
    padding: 5px 0;
    border-radius: 3px;
    margin: 0 0 15px 0;
}

.guest-group .group-name{
    margin: 0 0 15px 0;
    background-color: #FFF;
    border-radius: 3px;
    padding: 7px 10px;
}

.guest-group .group-id {
    padding: 7px 5px 0 0;
}

.guest-group .group-id span{
    background-color: #aed136;
    border-radius: 3px;
    padding: 10px;
    color: #FFF;
}

.guest-group .group-action{
    padding: 0 0 0 5px;
}

.guest-group .group-action i {
    background-color: #cecece;
    padding: 10px;
    border-radius: 3px;
    color: #FFF;
}

.guest-group .guest {
    padding: 7px;
}

.guests .middle {
    text-align: center;
}

.guest .fa-check {
    color: #aed136;
}

.guest .fa-times {
    color: #ee3470;
}

.guest .fa-minus {
    color: #8c3e96;
}

.guest .fa {
    font-size: 2rem;
}

.guest input[type=text] {
    border: none;
    width: 45%;
    padding: 3px;
}

.guest input.invalid,
.guest select.invalid {
    border: 1px #ee3470 solid;
    border-radius: 3px;
}

.guest select {
    width: 100%;
    border: none;
    background: #fff;
    padding: 3px;
}

.btn-guest-add {
    padding: 2px 2px 0 5px;
    background: rgba(192, 192, 192, 0.78);
    border-radius: 50%;
    margin:0;
}

.btn-guest-add .fa {
    font-size: inherit;
}

.guests .disabled {
    color: #818181;
}

.guests .guest-group-form {
    border-radius: 3px;
    background: #FFF;
    padding: 5px 0;
}

.guests .guest-group-form input[type=text] {
    border: none;
    padding: 3px;
}

.guests .guest-group-form input[type=text].invalid {
    border: 1px #ee3470 solid;
    border-radius: 3px;
}