.icon-agenda:before {
    content: ""; }

.icon-invitados:before {
    content: ""; }

.icon-presupuesto:before {
    content: ""; }

.icon-proveedores:before {
    content: ""; }

.icon-bautizo:before, .icon-bautizos:before {
    content: ""; }

.icon-bodas:before {
    content: ""; }

.icon-conferencias:before {
    content: ""; }

.icon-cumpleanos:before {
    content: ""; }

.icon-graduaciones:before {
    content: ""; }

.icon-icon_otros:before {
    content: ""; }

.icon-quinceaneras:before {
    content: ""; }

.icon-showers:before {
    content: ""; }

.icon-catering:before, .icon-banquete:before {
    content: ""; }

.icon-decoracion:before {
    content: ""; }

.icon-dulcerias:before {
    content: ""; }

.icon-entretenimiento:before, .icon-animacion:before {
    content: ""; }

.icon-florerias:before {
    content: ""; }

.icon-fotografia:before {
    content: ""; }

.icon-invitaciones:before {
    content: ""; }

.icon-joyeria:before {
    content: ""; }

.icon-lugares:before, .icon-locaciones:before, .icon-vivienda::before {
    content: ""; }

.icon-mobiliario:before, .icon-renta-de-mobiliario:before {
    content: ""; }

.icon-musica:before, .icon-musica-y-sonido:before{
    content: ""; }

.icon-organizadores:before {
    content: ""; }

.icon-otros:before {
    content: ""; }

.icon-pastelerias:before {
    content: ""; }

.icon-pinatas:before {
    content: ""; }

.icon-presentadores:before {
    content: ""; }

.icon-recuerdos:before {
    content: ""; }

.icon-regalos:before, .icon-mesa-de-regalos:before {
    content: ""; }

.icon-salon:before, .icon-salones-de-belleza:before {
    content: ""; }

.icon-trajes:before, .icon-smokings-y-trajes:before, .icon-trajes-renta-y-venta:before {
    content: ""; }

.icon-trajes_bebe:before, .icon-trajes-para-bebe:before {
    content: ""; }

.icon-transporte:before, .icon-autos-renta:before, .icon-renta-de-autos:before {
    content: ""; }

.icon-vestidos:before, .icon-ropa-casual:before, .icon-vestidos-de-fiesta:before, .icon-ropa-para-bebe:before {
    content: ""; }

.icon-viajes:before, .icon-agencias-de-viaje:before{
    content: ""; }

.icon-video:before {
    content: ""; }

.icon-zapatos:before {
    content: ""; }
