.list-header {
	margin: 100px 0 30px 0;
	padding: 20px;
	background: #cecece; 
	border-radius: 5px;
}

.list-header h4, .list-item h4 {
	padding: 5px 0 0 0; 
	font-weight: 600; 
	color: #818181;
	text-transform: uppercase;
}

.list-item {
	background: #ffffff; 
	border-radius: 5px; 
	border: 1px #cecece solid; 
	padding: 15px 0; 
	margin: 20px 0;
}

.list-item div:last-child {
	padding-left: 0;
}

.list-item img {
	width: 100%;
}

.list-item .ligth-description {
	color: #cecece;
}

.list-item p {
	padding: 10px 0 0 0;
	color: #818181;
}

.divider {
	width: 100%;
	height: 2px;
	background-color: #cecece;
	margin: 5px 0;
}

.more-info {
	float: right;
	color: #aed136;
	cursor: pointer;
	padding: 10px 0;
}

.list-nav {
	padding: 20px 0; 
	list-style: none;
	display: inline-block;
}

.list-nav li {
	display: inline;
}

.list-nav a {
    width: 40px;
    height: 40px;
    line-height: 38px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    float: left;
    text-decoration: none;

    color: #818181;
    background-color: #FFFFFF;
    border: 1px solid #CECECE;
    margin: 0 3px;

    font-size: 14px;
    z-index: 1;
    cursor: pointer;
}

.list-nav a.active {
	color: #FFFFFF;
    background-color: #ee3470;
    border: 1px solid #ee3470;
}

.list-nav li:last-child a {
    width: 80px;
}

.search {
	position: fixed;
	z-index: 1;
	background: rgba(0,0,0,0.5);
	padding: 20px 0;
}

.search input, .search select {
	background: none;
	color: rgba(255,255,255,0.3);
	padding: 5px;
	border: none;
	font-size: 1.9rem;
}

.search select option {
	padding: 5px;
	background: rgba(0,0,0,0.5);
}

.search .btn-search {
	color: #fff;
	background: #858;
	padding: 5px;
	line-height: 30px;
}

.search ::-moz-placeholder {
	color: rgba(255,255,255,0.3);
}
.search ::-webkit-input-placeholder {
	color: rgba(255,255,255,0.3);
}
.search :-ms-input-placeholder{
	color: rgba(255,255,255,0.3);
}

.search input:focus {
	border: none;
}