.list-header {
	margin: 0px 0 10px 0;
}

.list-header h5 {
	color: #fff;
    font-size: 20px;
		text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.suppliers-header{
	    background-color: #8B4194;
			    padding: 70px;
					background-size: cover !important;
    min-height: 350px;

}

@media only screen and (max-width: 768px) {
	.suppliers-header{
		    background-color: #8B4194;
				    padding: 30px 15px;
						background-size: cover !important;
	    min-height: 180px;
	background-position-y: -40px !important;
	}

	.list-header h4 {
	font-size: 2.5rem !important;

	}

	.service-list {
		    margin-left: -30px;
	}
}

.header-city {
	    background: url(../img/headers/city.jpg) no-repeat;
			background-position-y: 0px !important;
}

.header-bodas {
	    background: url(../img/headers/bodas.jpg) no-repeat;
			background-position-y: -125px !important;
}

.header-quinceaneras {
	    background: url(../img/headers/quinceaneras.jpg) no-repeat;
			background-position-y: -180px !important;
}

.header-otros {
	    background: url(../img/headers/otros.jpg) no-repeat;
			background-position-y: -470px !important;
}

.header-cumpleanos {
	    background: url(../img/headers/cumpleanos.jpg) no-repeat;
			background-position-y: -358px !important;
}

.header-conferencias {
	    background: url(../img/headers/conferencias.jpg) no-repeat;
			background-position-y: -150px !important;
}

.header-graduaciones {
	    background: url(../img/headers/graduaciones.jpg) no-repeat;
			background-position-y: -125px !important;
}

.header-bautizos {
	    background: url(../img/headers/bautizos.jpg) no-repeat;
			background-position-y: -300px !important;
}

.header-showers {
	    background: url(../img/headers/showers.jpg) no-repeat;
			background-position-y: -315px !important;
}

.events-header{
	border-radius: 7px;
	margin-top: 90px;
	background: url(../img/mi_gran_dia_pattern.png) #ddd;
	border: 1px solid #ddd;
}

/* Services */

.header-catering {
	    background: url(../img/headers/services/catering.jpg) no-repeat;
			background-position-y: 0px !important;
}

.header-fotografia {
	    background: url(../img/headers/services/fotografia.jpg) no-repeat;
			background-position-y: 0px !important;
}

.header-trajes {
	    background: url(../img/headers/services/trajes.jpg) no-repeat;
			background-position-y: 0px !important;
}

.header-locaciones {
	    background: url(../img/headers/services/locaciones.jpg) no-repeat;
			background-position-y: 0px !important;
}

.header-renta-de-mobiliario {
	    background: url(../img/headers/services/renta-de-mobiliario.jpg) no-repeat;
			background-position-y: -15px !important;
}
.header-decoracion {
	    background: url(../img/headers/services/decoracion.jpg) no-repeat;
			background-position-y: 0px !important;
}
.header-vestidos-de-fiesta {
	    background: url(../img/headers/services/vestidos-de-fiesta.jpg) no-repeat;
			background-position-y: 0px !important;
}

.header-ropa-casual {
	    background: url(../img/headers/services/ropa-casual.jpg) no-repeat;
			background-position-y: 0px !important;
}
.header-musica-y-sonido {
	    background: url(../img/headers/services/musica-y-sonido.jpg) no-repeat;
			background-position-y: 0px !important;
}
.header-video {
	    background: url(../img/headers/services/video.jpg) no-repeat;
			background-position-y: -181px !important;
}
.header-dulcerias,.header-pastelerias {
	    background: url(../img/headers/services/dulcerias.jpg) no-repeat;
			background-position-y: -65px !important;
}
.header-salones-de-belleza {
	    background: url(../img/headers/services/salones-de-belleza.jpg) no-repeat;
			background-position-y: -60px !important;
}
.header-recuerdos {
	    background: url(../img/headers/services/recuerdos.jpg) no-repeat;
			background-position-y: 0px !important;
}
.header-florerias {
	    background: url(../img/headers/services/florerias.jpg) no-repeat;
			background-position-y: 0px !important;
}
.header-renta-de-autos {
	    background: url(../img/headers/services/renta-de-autos.jpg) no-repeat;
			background-position-y: 0px !important;
}
.header-animacion {
	    background: url(../img/headers/services/animacion.jpg) no-repeat;
			background-position-y: 0px !important;
}
.header-agencias-de-viaje {
	    background: url(../img/headers/services/agencias-de-viaje.jpg) no-repeat;
			background-position-y: -280px !important;
}
.header-organizadores {
	    background: url(../img/headers/services/organizadores.jpg) no-repeat;
			background-position-y: 0px !important;
}
.header-joyeria {
	    background: url(../img/headers/services/joyeria.jpg) no-repeat;
			background-position-y: -350px !important;
}
.header-invitaciones {
	    background: url(../img/headers/services/invitaciones.jpg) no-repeat;
			background-position-y: -200px !important;
}
.header-vestidos-de-fiesta {
	    background: url(../img/headers/services/vestidos-de-fiesta.jpg) no-repeat;
			background-position-y: 0px !important;
}
.header-zapatos {
	    background: url(../img/headers/services/zapatos.jpg) no-repeat;
			background-position-y: -190px !important;
}
.header-vivienda {
	    background: url(../img/headers/services/vivienda.jpg) no-repeat;
			background-position-y: 0px !important;
}
.header-mesa-de-regalos {
	    background: url(../img/headers/services/mesa-de-regalos.jpg) no-repeat;
			background-position-y: 0px !important;
}
.header-ropa-para-bebe {
	    background: url(../img/headers/services/ropa-para-bebe.jpg) no-repeat;
			background-position-y: -30px !important;
}
/* End services */

@media only screen and (max-width: 768px) {
	.events-header{
		margin-top: 258px;

	}

	.header-bodas,
	.header-quinceaneras,
	.header-otros,
	.header-cumpleanos,
	.header-conferencias,
	.header-graduaciones,
	.header-bautizos,
	.header-showers,
	.header-video,
	.header-invitaciones,
	.header-joyeria,
	.header-agencias-de-viaje,
	.header-zapatos,
	.header-salones-de-belleza,
	.header-dulcerias,
	.header-pastelerias,
	.header-ropa-para-bebe {
		    background-position-y: 0px !important;
	}
	.header-mesa-de-regalos {
		background-position-x:-400px;
	}

	.header-salones-de-belleza {
		background-position-x: -345px;
	}
}
.events-header .first-line	{

}

.list-header a,
.list-header h4,
.list-item a,
.list-item h4{
	padding: 5px 0 0 0;
	font-weight: 600;
	color: #818181;
	text-transform: uppercase;
	display: block;
	font-size: 2rem;
}

.list-header h4 {
color: #fff;
font-size: 4rem;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.events-header h4 {
	color: #858;
	    text-shadow: none;
	    font-size: 3.5rem;
}

.events-header .btn-submit {
	margin:20px;
}

.list-header .span-header {
    padding: 5px 10px;
    color: #FFF;
    background: #818181;
    border-radius: 5px;
    margin: 8px;
    display: inline-block;
    margin-top: 5px;
}

.list-header i{
	font-size: 50px;
  color: #fff;
	line-height: 70px;
		text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.list-item {
	background: #ffffff;
	border-radius: 5px;
	border: 1px #cecece solid;
	padding: 15px 0;
	margin: 20px 0;
}

.list-item div:last-child {
	padding-left: 0;
}

.list-item img {
	width: 100%;
}

.list-item .ligth-description {
	color: #777777;
	text-transform: none;
}

.list-item p {
	padding: 10px 0 0 0;
	color: #818181;
}

.divider {
	width: 100%;
	height: 2px;
	background-color: #cecece;
	margin: 5px 0;
}

.list-item .more-info {
	float: right;
	color: #aed136;
	cursor: pointer;
	padding: 10px 0;
	font-size: 1.3rem;
}

.list-nav {
	padding: 0;
	list-style: none;
	display: inline-block;
}

.list-nav li {
	display: inline;
}

.list-nav a {
    width: 40px;
    height: 40px;
    line-height: 38px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    float: left;
    text-decoration: none;

    color: #818181;
    background-color: #FFFFFF;
    border: 1px solid #CECECE;
    margin: 0 3px;

    font-size: 14px;
    z-index: 1;
    cursor: pointer;
}

.list-nav a.active {
	color: #FFFFFF;
    background-color: #ee3470;
    border: 1px solid #ee3470;
}

.list-nav li:last-child a {
    width: 80px;
}

.search {
    z-index: 1;
    background: url(../img/mi_gran_dia_pattern.png) #efefef;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 15px 15px;
}

.search input, .search select {
	background: #888;
	    color: #fff;
	    padding: 5px 7px;
	    font-size: 1.9rem;
	    width: 100%;
	    border-radius: 4px;
	    border: none;
}

.search select option {
	padding: 5px;
	background: rgba(0,0,0,0.5);
}

.search .btn-search {
	color: #fff;
	    background: #858;
	    padding: 5px;
	    line-height: 26px;
	    width: 100%;
}

.search .button-nomargin{
	margin:0;
	padding: 0;
}

.search ::-moz-placeholder {
	color: rgba(255,255,255,0.3);
}
.search ::-webkit-input-placeholder {
	color: rgba(255,255,255,0.3);
}
.search :-ms-input-placeholder{
	color: rgba(255,255,255,0.3);
}

.search input:focus {
	border: none;
}

.filter-list {
	background: #eee;
	 border: 1px #cecece solid;
	 border-radius: 4px 4px 0 0;
	 padding: 15px;
	 margin: 20px 0 0 0;
	 font-weight: 600;
	 color: #818181;
	 text-align: center;
}

.panel-default > .panel-heading {
	border-radius: 0;
	border: none;
	background: #fff;
	color: #818181;
	cursor: pointer;
}

.panel-group .panel+.panel {
	margin: 0;
	border-top: 1px;
}

.panel-title {
	font-size: 1.4rem;
	font-weight: bolder;
}

.panel-title i {
	font-size: 1rem;
	color: #aed136;
}

.panel-body {
	padding: 0;
}

.panel-body ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

.panel-body li {
	padding: 7px 15px;
}

.panel-body li a{
	color: #818181;
}

.panel-body span {
	padding: 4px 7px;
	color: #818181;
	background: #ededed;
	border-radius: 5px;
	margin: 0 0 0 7px;
	font-size: 1rem;
}

.panel-body li:hover {
	background: #e1e1e1;
}

.list-item .btn-fav {
	padding: 10px;
	background: #ECECEC;
	border-radius: 3px;
	color: #818181;
}

.list-item .btn-fav:hover,
.list-item .btn-fav.subscribed{
	color: #ee3470;
}

.list-item .btn-fav.subscribed:hover {
	color: #818181;
}

.listing-service a {
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    text-transform: none;
    padding: 0px 1px;
}

.remove-filters {
	font-weight: normal;
    color: #fff !important;
    background: #ee3470;
    padding: 0px 4px 1px;
    border-radius: 4px;
    font-size: 13px;
		cursor: pointer;
}

.remove-filters i {
	color:#fff !important;
	font-size: 10px;
}
.panel-group .panel{
	border-radius: 0px !important;
}

@media only screen and (max-width: 1024px) {
	.search form {
		width:100%;
	}
}

@media only screen and (min-width: 1024px) {
	.search form {
		width:50%;
	}
}


.list-header .content {
	text-align: center;
}
.pattern-purple {
	background: url(../img/pattern-full.jpg) repeat;
}

a.accordion-toggle:focus{
	outline: none;
text-decoration: none;
}

.no-results {
	background: #f2f2f2;
	    padding: 10px;
	    color: #888;
	    font-weight: 600;
	    margin: 20px 16px;
	    border-radius: 3px;
}

.filter-item {
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.supplier-search {
		padding:0 5px 0 0;
		margin:0;
	}

	.supplier-search-button {
		padding:0;
		margin:0;
	}

	.supplier-search-button span {
		display: none;
	}
}

@media only screen and (min-width: 992px) {
	.filter-responsive {
		display:none;
	}
}
