@charset "UTF-8";
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* font */
/* icons */
@font-face {
  font-family: 'mi-gran-dia_icons';
  src: url("fonts/mi-gran-dia_icons.eot?5uwj81");
  src: url("fonts/mi-gran-dia_icons.eot?5uwj81#iefix") format("embedded-opentype"), url("fonts/mi-gran-dia_icons.ttf?5uwj81") format("truetype"), url("fonts/mi-gran-dia_icons.woff?5uwj81") format("woff"), url("fonts/mi-gran-dia_icons.svg?5uwj81#mi-gran-dia_icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mi-gran-dia_icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.618em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-agenda:before {
  content: ""; }

.icon-invitados:before {
  content: ""; }

.icon-presupuesto:before {
  content: ""; }

.icon-proveedores:before {
  content: ""; }

.icon-bautizo:before {
  content: ""; }

.icon-bodas:before {
  content: ""; }

.icon-conferencias:before {
  content: ""; }

.icon-cumpleanos:before {
  content: ""; }

.icon-graduaciones:before {
  content: ""; }

.icon-icon_otros:before {
  content: ""; }

.icon-quinceaneras:before {
  content: ""; }

.icon-showers:before {
  content: ""; }

.icon-catering:before {
  content: ""; }

.icon-decoracion:before {
  content: ""; }

.icon-dulcerias:before {
  content: ""; }

.icon-entretenimiento:before {
  content: ""; }

.icon-florerias:before {
  content: ""; }

.icon-fotografia:before {
  content: ""; }

.icon-invitaciones:before {
  content: ""; }

.icon-joyeria:before {
  content: ""; }

.icon-lugares:before {
  content: ""; }

.icon-mobiliario:before {
  content: ""; }

.icon-musica:before {
  content: ""; }

.icon-organizadores:before {
  content: ""; }

.icon-otros:before {
  content: ""; }

.icon-pastelerias:before {
  content: ""; }

.icon-pinatas:before {
  content: ""; }

.icon-presentadores:before {
  content: ""; }

.icon-recuerdos:before {
  content: ""; }

.icon-regalos:before {
  content: ""; }

.icon-salon:before {
  content: ""; }

.icon-trajes:before {
  content: ""; }

.icon-trajes_bebe:before {
  content: ""; }

.icon-transporte:before {
  content: ""; }

.icon-vestidos:before {
  content: ""; }

.icon-viajes:before {
  content: ""; }

.icon-video:before {
  content: ""; }

.icon-zapatos:before {
  content: ""; }

@font-face {
  font-family: 'mi-gran-dia_icons';
  src: url("fonts/mi-gran-dia_icons.eot?5uwj81");
  src: url("fonts/mi-gran-dia_icons.eot?5uwj81#iefix") format("embedded-opentype"), url("fonts/mi-gran-dia_icons.ttf?5uwj81") format("truetype"), url("fonts/mi-gran-dia_icons.woff?5uwj81") format("woff"), url("fonts/mi-gran-dia_icons.svg?5uwj81#mi-gran-dia_icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mi-gran-dia_icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.618em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bautizo:before {
  content: ""; }

.icon-bodas:before {
  content: ""; }

.icon-conferencias:before {
  content: ""; }

.icon-cumpleanos:before {
  content: ""; }

.icon-graduaciones:before {
  content: ""; }

.icon-icon_otros:before {
  content: ""; }

.icon-quinceaneras:before {
  content: ""; }

.icon-showers:before {
  content: ""; }

.icon-catering:before {
  content: ""; }

.icon-decoracion:before {
  content: ""; }

.icon-dulcerias:before {
  content: ""; }

.icon-entretenimiento:before {
  content: ""; }

.icon-florerias:before {
  content: ""; }

.icon-fotografia:before {
  content: ""; }

.icon-invitaciones:before {
  content: ""; }

.icon-joyeria:before {
  content: ""; }

.icon-lugares:before {
  content: ""; }

.icon-mobiliario:before {
  content: ""; }

.icon-musica:before {
  content: ""; }

.icon-organizadores:before {
  content: ""; }

.icon-otros:before {
  content: ""; }

.icon-pastelerias:before {
  content: ""; }

.icon-pinatas:before {
  content: ""; }

.icon-presentadores:before {
  content: ""; }

.icon-recuerdos:before {
  content: ""; }

.icon-regalos:before {
  content: ""; }

.icon-salon:before {
  content: ""; }

.icon-trajes:before {
  content: ""; }

.icon-trajes_bebe:before {
  content: ""; }

.icon-transporte:before {
  content: ""; }

.icon-vestidos:before {
  content: ""; }

.icon-viajes:before {
  content: ""; }

.icon-video:before {
  content: ""; }

.icon-zapatos:before {
  content: ""; }

/* color palettte */
/* box */
body {
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
  padding: 124px 0 0;
  margin: 0; }

.gray-bg {
  background: #dadada; }

a {
  text-decoration: none; }

nav .container {
  padding: 0; }

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-top: 15px;
  padding: 0; }

.logo {
  width: 100%; }

.navbar {
  margin: 0;
  background: #fff; }

.navbar-fixed-top {
  border: 0; }

nav.navbar.navbar-fixed-top {
  height: 124px; }

nav.navbar {
  padding: 0 15px;
  color: #818181; }

div#userNavbar {
  position: relative;
  top: -124px; }

div#userNavbar li a {
  line-height: 10px;
  background: none;
  text-transform: none; }

div#userNavbar li:hover a {
  background: #aed136;
  color: #fff; }

div#mainNavbar li a {
  line-height: 94px;
  background: none; }

#mainNavbar span.caret {
  border-top: 20px dashed #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  left: 33%;
  top: -1px;
  position: relative; }

.nav li a {
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 4.236em;
  padding: 15px 22px;
  color: #818181; }

.nav li a:hover {
  background: #fff;
  color: #ee3470; }

.navbar-toggle {
  margin: 0; }

.container-fluid {
  padding: 0; }

.item {
  height: 600px;
  width: 100%; }
  .item img {
    width: 100%; }

.carousel-caption {
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
  font-size: 4.2358em;
  font-weight: 900;
  text-transform: uppercase;
  top: 35%;
  padding-bottom: 0;
  line-height: 95%; }

.jumbotron {
  padding: 0 !important; }

.col-md-6 {
  padding: 0; }

.btn {
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.618em;
  letter-spacing: 3px;
  text-shadow: none;
  text-transform: uppercase;
  color: #fff;
  background: none;
  background-image: none; }

.btn-default {
  background: none;
  box-shadow: none;
  border: 0;
  border-radius: 0; }

.btn-lg {
  width: 33.333333333%;
  background: #cecece;
  height: 110px;
  margin: 0;
  padding: 0;
  float: left;
  color: #666; }

.home-cat {
  background: #8c3e96;
  position: relative;
  overflow: hidden;
  min-height: 300px;
  text-align: center;
  width: 33.33333%; }
  .home-cat h5 {
    font-size: 1.618em; }
  .home-cat:nth-child(odd) {
    background: #faa41a; }
  .home-cat :before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    background-image: url("../img/mgd_home_categories_bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover; }

.separator {
  min-height: 30px;
  border-top: #cecece 1px solid; }

.drawer-icon {
  width: 30%; }

.drawer-menu {
  background: rgba(0, 0, 0, 0.7);
  top: -40px;
  position: relative; }
  .drawer-menu h5 {
    color: #fff !important; }
  .drawer-menu .btn-lg {
    background: transparent;
    width: 16.666666666%; }
  .drawer-menu .btn-lg:nth-child(odd) {
    background: transparent; }

.btn-lg:nth-child(odd) {
  background: #cecece; }

.btn-lg:hover {
  color: #fff;
  background: #aed136; }

.cat-menu {
  display: block;
  bottom: 110px;
  margin-top: -135px; }

.btn-group,
.btn-group-vertical {
  width: 100%;
  line-height: 2.618em; }

.btn-group .btn + .btn {
  margin-left: 0; }

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  background: rgba(0, 0, 0, 0.2);
  width: 15%;
  border: 0;
  border-radius: 0;
  line-height: 67px; }

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  text-align: left;
  width: 85%;
  border: 0;
  border-radius: 0;
  line-height: 67px; }

input[type="checkbox"], input[type="radio"] {
  opacity: 0; }

[data-toggle="buttons"] > .btn > input[type="radio"],
[data-toggle="buttons"] > .btn > input[type="checkbox"] {
  clip: rect(1px 10px 1px 1px); }

label.btn.btn-default {
  width: 100%;
  padding: 15px; }
  label.btn.btn-default span {
    margin-right: 10px; }
  label.btn.btn-default.active, label.btn.btn-default.radio-inline.active {
    background: #8c3e96;
    color: #fff; }
  label.btn.btn-default.radio-inline {
    background: #fff; }

.active {
  background: #8c3e96;
  color: #fff; }

.menu-icon {
  width: 20%;
  max-width: 80px;
  max-height: 60px;
  margin-right: 10px; }

.cat-icon {
  width: 25%; }

.first-row {
  background: #8c3e96; }

.second-row {
  background: #ee3470; }

.third-row {
  background: #faa41a; }

.fourth-row {
  background: #aed136; }

footer {
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #818181;
  background: #cecece;
  padding: 15px;
  margin: 0; }
  footer ul {
    padding: 0; }
  footer li {
    list-style: none; }
  footer li a {
    color: #818181; }

@media only screen and (max-width: 1024px) {
  .nav li a {
    font-size: .9em; } }

@media only screen and (max-width: 768px) {
  .container {
    width: 100% !important; }
  .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px; }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0 !important; }
  div#mainNavbar li a, div#userNavbar li a {
    font-size: 0.61805em;
    line-height: 30px;
    background: none;
    text-transform: uppercase; }
  div#mainNavbar {
    padding-top: 90px; }
  div#userNavbar {
    position: inherit;
    top: none; }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    width: 25%; }
  .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    font-size: 1.618em;
    width: 75%; }
  .first-row .col-md-6:nth-child(even) {
    background: #faa41a; }
  .second-row .col-md-6:nth-child(even) {
    background: #aed136; }
  .third-row .col-md-6:nth-child(even) {
    background: #8c3e96; }
  .fourth-row .col-md-6:nth-child(even) {
    background: #ee3470; }
  img.img-responsive.center-block {
    height: 100%; }
  .item img {
    width: auto !important; }
  .carousel-inner > .item > img, .img-responsive {
    max-width: none; }
  img.img-responsive.center-block {
    position: relative; }
  .carousel-caption {
    font-size: 2.61792em; }
  .navbar-toggle .icon-bar {
    display: block;
    width: 48px;
    height: 7px;
    border-radius: 2px;
    background: #818181; }
  .navbar-toggle {
    display: none;
    background-color: #dadada;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 68px;
    width: 70px;
    float: right;
    margin-top: 15px; }
  .navbar-brand {
    margin-left: 0 !important; }
  #mainNavbar li, #userNavbar li {
    width: 50%;
    text-align: center;
    background: #fff;
    font-size: 1.618em;
    float: left; }
  .navbar-nav {
    margin: 0;
    padding: 0; }
  .navbar-collapse {
    padding: 0;
    border: 0; }
    .navbar-collapse .navbar-right {
      float: none !important; }
  .container > .navbar-header {
    width: 100%;
    padding: 0;
    margin: 0; }
  .logo {
    width: 72%; }
  body {
    padding: 263px 0 0; } }

@media only screen and (max-width: 767px) {
  .navbar-toggle {
    display: block; }
  body {
    padding: 96px 0 0; }
  div#mainNavbar {
    padding-top: 0; } }

@media only screen and (max-width: 425px) {
  .logo {
    width: 256px !important; }
  body {
    padding: 96px 0 0; }
  button h5 {
    font-size: 0.38198em; }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    width: 25%; }
  .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    font-size: 1em;
    width: 75%; }
  nav.navbar.navbar-fixed-top {
    height: 98px; } }

@media only screen and (max-width: 375px) {
  body {
    padding: 96px 0 0; }
  .logo {
    width: 250px !important; }
  nav.navbar.navbar-fixed-top {
    height: 96px; }
  .navbar-toggle {
    margin-top: 14px;
    margin-right: 0; } }

@media only screen and (max-width: 320px) {
  .logo {
    width: 190px !important; }
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 10px;
    margin-top: 14px !important;
    margin-right: 0 !important;
    margin-bottom: 8px !important;
    background-color: #dadada;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 52px;
    width: 52px; }
  .navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background: #818181; }
  nav.navbar.navbar-fixed-top {
    height: 80px; }
  body {
    padding: 80px 0 0; }
  #mainNavbar li, #userNavbar li {
    width: 50%;
    text-align: center;
    background: #fff;
    font-size: 0.618em;
    line-height: .618em; }
  .nav li a {
    font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #818181; }
  div#mainNavbar li a, div#userNavbar li a {
    font-size: 1em;
    line-height: 30px;
    background: none;
    text-transform: uppercase; }
  .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    font-size: 1em;
    text-align: left;
    width: 75%;
    border: 0;
    border-radius: 0;
    height: 100%; }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    background: rgba(0, 0, 0, 0.2);
    width: 25%;
    border: 0;
    border-radius: 0; }
  .carousel-caption {
    font-size: 1.618em;
    top: 25%;
    padding-bottom: 0;
    line-height: 105%; }
  .item {
    height: 400px;
    width: 100%; } }

/******** Login *********/
.login-caption h1 {
  font-weight: 900; }

.img-panel {
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 600px; }

.img-panel-full {
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 400px;
  position: relative; }

.img-panel-full-register {
  background-image: url("../img/mi_gran_dia_cumpleanos.jpg"); }

.img-proveedor {
  background-image: url("../img/mi_gran_dia_conferencia.jpg"); }

.img-usuario {
  background-image: url("../img/mi_gran_dia_cumpleanos.jpg"); }

.login-caption {
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #818181;
  text-align: center;
  padding: 15px 0; }

.login-caption a {
  color: #ee3470; }

.login-caption a:hover {
  color: #818181; }

.login-form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  padding: 15% 0;
  min-height: 600px; }

.form-control {
  height: 46px;
  padding: 26px 20px;
  margin: 8px 0;
  font-size: 1.618em;
  letter-spacing: 3px;
  color: #ee3470;
  text-transform: uppercase;
  background: rgba(128, 128, 128, 0.3); }

label {
  font-size: 1.618em;
  font-weight: 500;
  letter-spacing: 3px;
  color: #ee3470;
  text-transform: uppercase; }

.row.login {
  margin: 0; }

.btn-submit {
  background: #aed136;
  color: #fff;
  margin: 10px 0;
  font-size: 1.618em; }

.form-group {
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
  font-weight: 400;
  margin: 0; }

@media only screen and (max-width: 1024px) {
  .login-form {
    min-height: 600px; }
  .login-form .form-horizontal {
    padding: 0 40px; } }

@media only screen and (max-width: 425px) {
  .form-horizontal .form-group {
    margin-right: 20px;
    margin-left: 20px; }
  .form-control {
    margin: 8px 0;
    font-size: 1em; }
  .img-panel {
    min-height: 200px; }
  .login-form {
    padding: 5% 0;
    min-height: 400px; }
  .login-form .form-horizontal {
    padding: 0 10px; } }

.btn-file {
  background: #aed136;
  font-size: 16px; }

/******** Register ************/
.kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: center; }

.kv-avatar .file-input {
  display: table-cell;
  max-width: 220px; }

.file-preview {
  min-height: 275px; }

.file-default-preview img {
  width: 100%; }

option {
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif !important; }

.register-form {
  margin-top: 15px; }
  .register-form .form-control {
    padding: 6px 20px; }
  .register-form .form-horizontal > .col-lg-4, .register-form .form-horizontal > .col-md-4, .register-form .form-horizontal > .col-lg-8, .register-form .form-horizontal > .col-md-8 {
    padding: 0; }

.btn.btn-primary.btn-file {
  height: 46px;
  padding-top: 12px;
  margin: 0;
  border: 0; }

.btn.btn-primary.btn-file:hover {
  background: #cecece;
  color: #818181; }

.fileinput-remove, .fileinput-upload {
  font-size: 16px;
  background: #aed136; }

.file-caption-name {
  font-size: 0.61805em; }

.form-horizontal .form-group {
  margin-right: 10px;
  margin-left: 10px; }

a.btn.btn-default.fileinput-upload.fileinput-upload-button {
  height: 46px;
  padding-top: 12px; }

button.btn.btn-default.fileinput-remove.fileinput-remove-button {
  height: 46px; }

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  top: 4px; }

/************ Register Evento ***************/
h1.promt {
  text-transform: uppercase;
  color: #8c3e96;
  font-weight: 700; }

.register-panel .btn.btn-default {
  font-size: 1em;
  background: #cecece;
  color: #818181;
  border-radius: 3px !important;
  text-align: left; }

.register-panel .btn-group > .btn:last-child:not(:first-child), .register-panel .btn-group > .dropdown-toggle:not(:first-child) {
  width: 73%;
  margin-left: 2%; }

.register-panel .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  width: 23%;
  margin-right: 2%; }

.register-panel .col-md-6:hover > .btn-group .btn.btn-default, .register-panel .col-md-4:hover > .btn-group .btn.btn-default {
  background: #8c3e96;
  color: #fff; }

.register-panel .col-md-6, .register-panel .col-md-4 {
  padding: 10px 15px;
  border-radius: 3px; }

.register-panel .next {
  margin-left: .5%;
  background: #aed136 !important;
  color: #fff !important; }

.register-panel .prev {
  margin-right: .5%; }

.btn.btn-default.account {
  text-align: center;
  background: #dadada;
  color: #fff !important; }
  .btn.btn-default.account:hover {
    background: #fff; }
  .btn.btn-default.account ul li {
    color: #818181; }

.account {
  background: #fff;
  border-radius: 3px;
  margin: 15px;
  text-align: center;
  border: solid 1px #cecece;
  padding: 20px; }
  .account h2 {
    font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.618em;
    letter-spacing: 3px;
    text-shadow: none;
    text-transform: uppercase;
    color: #ee3470;
    background: none;
    background-image: none; }
  .account ul {
    margin-top: 10px;
    padding-left: 20px; }
    .account ul li {
      color: #818181;
      font-size: 1em;
      line-height: 40px; }
    .account ul .check {
      list-style-image: url("../img/check.png");
      margin-bottom: 0; }
    .account ul .uncheck {
      list-style-image: url("../img/uncheck.png"); }

.pattern {
  background: url("../img/mi_gran_dia_pattern.png") repeat; }

.main {
  padding: 30px 0; }

.signup-nav {
  padding: 30px 0; }

.icon {
  margin: 5px; }

.modal-welcome {
  padding: 20px;
  color: #fff;
  line-height: 40px;
  font-size: 1.618em;
  background: url("../img/mi_gran_dia_welcome.png") no-repeat, #8c3e96;
  background-size: cover; }
  .modal-welcome h1 {
    font-size: 2.61792em;
    text-transform: uppercase;
    font-weight: 900;
    margin: 20px 0;
    -webkit-text-stroke: 2px #732a7f;
    text-shadow: 0 1px 0 #732a7f, -1px 2px 0 #732a7f, -2px 3px 0 #732a7f, -3px 4px 0 #732a7f, -4px 5px 0 #732a7f, -5px 6px 0 #732a7f, -6px 7px 0 #732a7f, -7px 8px 0 #732a7f, -8px 9px 0 #732a7f, -9px 10px 0 #732a7f, -10px 11px 0 #732a7f; }
  .modal-welcome > .btn-submit {
    font-size: 0.61805em;
    float: none;
    margin: 35px; }

@media only screen and (max-width: 425px) {
  .modal-welcome h1 {
    font-size: 1.618em; } }

/******* Seller Profile ******/
.supplier {
  color: #818181;
  letter-spacing: 3px; }
  .supplier .frame {
    border: #cecece solid 1px;
    border-radius: 3px;
    background: #fff;
    margin: 15px 0;
    padding: 19.995px; }
    .supplier .frame h1, .supplier .frame h2, .supplier .frame h3 {
      font-size: 1.618em;
      padding: 10px 0;
      margin: 0; }
  .supplier .btn-submit {
    font-size: 1em; }
  .supplier .gallery {
    top: 20px; }
  .supplier .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto; }
  .supplier .swiper-slide {
    background-size: cover;
    background-position: center; }
  .supplier .gallery-top {
    height: 600px;
    width: 100%; }
  .supplier .gallery-thumbs {
    height: 150px;
    box-sizing: border-box;
    padding: 10px 0; }
  .supplier .gallery-thumbs .swiper-slide {
    width: 15%;
    height: 100%;
    opacity: 0.4; }
  .supplier .gallery-thumbs .swiper-slide-active {
    opacity: 1; }
  .supplier .avatar {
    width: 100%;
    padding: 20px;
    max-width: 250px; }
  .supplier h1.name {
    font-size: 2.61792em;
    font-weight: 900;
    text-transform: uppercase;
    color: #ee3470; }
  .supplier .check {
    list-style-image: url("../img/check.png");
    margin-bottom: 0; }
  .supplier .highlights, .supplier .description {
    margin: 15px 0; }
  .supplier ul {
    padding: 0; }
    .supplier ul .menu-item {
      float: left;
      display: inline-block;
      width: 25%;
      text-align: center;
      background: #cecece;
      padding: 10px; }
      .supplier ul .menu-item:hover {
        background: #aed136; }
      .supplier ul .menu-item a {
        font-size: 1em;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none; }

@media only screen and (max-width: 1024px) {
  h2.address {
    font-size: 1.2em; } }

@media only screen and (max-width: 425px) {
  .col-md-2.col-md-offset-1.col-sm-4.col-sm-offset-1, .col-md-3.col-sm-6 {
    text-align: center; } }

.sliding-steps main,
.sliding-steps main .well {
  min-height: 500px;
  margin: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.sliding-steps main {
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden; }

.sliding-steps main .well {
  position: absolute;
  width: 100%;
  height: 100%; }

.sliding-steps .form-step.ng-enter, .sliding-steps .form-step.ng-leave {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.sliding-steps .step-forward .form-step.ng-enter {
  transform: translateX(100%); }

.sliding-steps .step-forward .form-step.ng-enter.ng-enter-active {
  transform: translateX(0); }

.sliding-steps .step-forward .form-step.ng-leave {
  /*transform: translateX(100%);*/
  animation: fadeOut .3s; }

.sliding-steps .step-forward .form-step.ng-leave.ng-leave-active {
  transform: translateY(-100%);
  animation: fadeOut .3s; }

.sliding-steps .step-backward .form-step.ng-enter {
  transform: translateX(-100%); }

.sliding-steps .step-backward .form-step.ng-enter.ng-enter-active {
  transform: translateX(0); }

.sliding-steps .step-backward .form-step.ng-leave {
  /*transform: translateX(100%);*/
  animation: fadeOut .3s; }

.sliding-steps .step-backward .form-step.ng-leave.ng-leave-active {
  transform: translateY(100%);
  animation: fadeOut .3s; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.drop {
  padding: 15px;
  border: 2px #f1f1f1 dashed;
  border-radius: 5px;
  line-height: 34px; }

.thumb {
  max-width: 30vw;
  height: auto; }

.nav-tabs.nav-justified > li:nth-child(odd) .nav-link {
  background: #dadada; }
  .nav-tabs.nav-justified > li:nth-child(odd) .nav-link:hover {
    background: #aed136;
    color: #fff; }

.nav-tabs.nav-justified [class^="icon-"], .nav-tabs.nav-justified [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  display: inline-block;
  width: 100%;
  font-size: 2.61792em;
  border: 0;
  border-radius: 0; }

.nav-tabs.nav-justified .nav-link {
  background: #cecece;
  color: #818181;
  padding: 15px 0;
  font-family: "Hurme Geometric Sans 4", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 2.236em;
  border: 0 !important;
  border-radius: 0; }
  .nav-tabs.nav-justified .nav-link:hover {
    background: #aed136;
    color: #fff; }

.nav-tabs.nav-justified span {
  text-align: center; }
