body {
    padding-top: 150px;
}

.main-nav {
    height: 150px;
    background: #FFF;
    padding: 30px;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

.main-nav .logo {
    width: 350px;
    float: left;
}

.main-nav .main-menu,
.main-nav .floating-menu {
    padding: 0;
    margin: 0;
}

.main-nav .floating-menu {
    position: absolute;
    top: 0;
    width: 100%;
    margin-left: -60px;

}

.main-nav .floating-menu li,
.main-nav .main-menu li {
    display: inline-block;
    float: right;
}

.main-nav .floating-menu a {
    padding: 10px 20px;
    line-height: 35px;
    color: #aed136;
}

.main-nav .floating-menu .active {
    background-color: #aed136;
    font-weight: 600;
    color: #fff;
}

.main-nav .main-menu {
    float: right;
}

.main-nav .main-menu li {
    margin: 0 20px;
    padding: 40px 0;
}

.main-nav .main-menu a {
    color: #818181;
    text-transform: uppercase;
}

.navbar-toggle {
    float: right;
    background-color: #dadada;
    height: 52px;
    width: 52px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background: #818181;
}

@media only screen and (min-width: 320px) {
    .main-nav .floating-menu,
    .main-nav .main-menu {
        display: none;
    }
    
    .main-nav .navbar-toggle {
        display: inline;
        margin: 0 !important;
    }

    .main-nav .logo { width: 175px; }

    body { padding-top: 100px; }

    .main-nav { height: 100px; }
}

@media only screen and (min-width: 768px) {
    .main-nav .floating-menu,
    .main-nav .main-menu {
        display: none;
    }

    .main-nav .navbar-toggle {
        display: inline;
        margin: 20px 14px 14px 14px !important;
    }

    .main-nav .logo { width: 350px; }

    body { padding-top: 150px; }

    .main-nav { height: 150px; }
}

@media only screen and (min-width: 1024px) {
    .main-nav .floating-menu,
    .main-nav .main-menu {
        display: inherit;
    }

    .main-nav .navbar-toggle {
        display: none;
    }
}


