.img-pad {
    padding-top: 20px;
}

.task-date{
    margin: 0 0 10px;
    color: #ee3470;
}

.supplier .votes {
  margin: 7px 0px;
  width: 100%;
  display: inline-block;
}

.supplier .vote {
    padding: 0px;
    cursor: pointer;
    font-size: 2rem;
}

.supplier .display-vote {
  padding: 0;
  font-size: 2rem;
  cursor: default;
}

.supplier .display-vote.filled {
  color: #aed136;
}

.supplier .supplier-pic {
  text-align: center;
}

.supplier .vote.filled,
.supplier .vote:hover {
    color: #aed136;
}

.supplier .vote:hover:before,
.supplier .vote:hover ~ .vote:before {
    color: #aed136;
}

.supplier .supplier-footer {
    padding: 40px 20px 20px 20px;
}

.supplier .supplier-footer label {
    font-size: 1.4rem;
}

.supplier .service-container {
    padding: 10px 0;
}

.supplier .premium-service {
    background-color: #8c3e96;
    padding: 5px;
    border-radius: 3px;
    color: #FFFFFF;
    margin: 3px;
    display: inline-block;
}

.supplier .premium-service a {
  color:#fff;
  font-size: 13px;
  letter-spacing: 0px;
}
.supplier .premium-service a:hover {
  color:#fff;
}
.supplier .premium-service i {
    font-size: 1.5rem;
}

.supplier .info {
  margin-bottom: 3px;
}

.supplier .info i {
  vertical-align: top;
    margin-top: 3px;
}

.chat-send {
  width: 100%;
}

.send-private-message  {
  font-size: 1em;
    margin: 5px 0 15px 26px;
    background: #858;
    color: #fff;
    letter-spacing: 1px;
}

.faq-display {
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.faq-display label {
  letter-spacing: 2px !important;
}

.suppliers-back {
  position: absolute;
  left: 28px;
  top: -35px;
  font-size: 25px;
}
