<div class="about-us-header">
  <i class="fa fa-users" aria-hidden="true"></i>
  <h2>¿Quiénes Somos?</h2>
</div>
<div class="about-us container">
  <p>
    Más que ser solo un portal para la organización de eventos somos un equipo de personas apasionadas por el orden y los buenos momentos. Disfrutamos compartiendo con nuestros usuarios de la planeación y desarrollo de cada celebración con ayuda de un organizador práctico y efectivo.
  </p>
  <p>
    En Mi Gran Día queremos ayudarte  convertir cada evento de tu vida en un momento único y especial.
  </p>
</div>
