<div class="pattern">
    <div class="container forgot-password" style="background-color: #ECECEC">
        <div class="col-md-8 col-md-offset-2" ng-if="!sent">
            <h1>Ingresa tu nueva contraseña</h1>
        </div>
        <div class="col-md-8 col-md-offset-2" ng-if="sent">
            <h1>Activado!</h1>
            <p>Ingresa nuevamente con tu nueva contraseña.</p>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form
                class="form-horizontal main"
                name="data"
                form-step-validity="form-step-validity"
                novalidate
                ng-submit="activate(data)">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group signup-field">
                            <input
                                class="form-control"
                                name="password"
                                required="required"
                                type="password"
                                placeholder="Contraseña"
                                ng-model="activate.Password"
                                ng-disabled="sent"
                                ng-class="{'invalid':(data.password.$error.required || data.passwordConfirm.$error.compareTo) && (data.$submitted || data.password.$touched)}"/>
                            <div class="error" ng-show="data.$submitted || data.password.$touched">
                                <div ng-show="data.password.$error.required">Elije una contraseña.</div>
                                <div ng-show="!checkPassword()">
                                    Debe tener 8 dígitos, una mayúscula, un número, y un caracter especial.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group signup-field">
                            <input
                                class="form-control"
                                name="passwordConfirm"
                                required="required"
                                type="password"
                                placeholder="Confirmar contraseña"
                                ng-model="activate.ConfirmPassword"
                                ng-disabled="sent"
                                ng-class="{'invalid':(data.passwordConfirm.$error.required || data.passwordConfirm.$error.compareTo) && (data.$submitted || data.passwordConfirm.$touched)}"
                                compare-to="activate.Password"/>
                            <div class="error" ng-show="data.$submitted || data.passwordConfirm.$touched">
                                <div ng-show="data.passwordConfirm.$error.required">Confirma la contraseña.</div>
                                <div ng-show="data.passwordConfirm.$error.compareTo">Las contraseñas no coinciden.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-md-offset-0">
                        <button
                            class="btn btn-default btn-submit next pull-right"
                            ng-disabled="sent">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>