<form class="form-group" novalidate="novalidate" name="data">
    <div class="col-md-3 col-sm-4 col-xs-12">
        <img class="avatar img-circle"
             src="img/photo-placeholder.jpg"
             ng-if="!supplier.pic"
             ngf-select
             ng-model="supplier.profilePic"
             accept="image/*"
             ngf-max-size="2MB"/>
        <img class="avatar img-circle"
             src="{{supplier.pic}}"
             ngf-select
             accept="image/*"
             ng-if="supplier.pic && !supplier.profilePic"
             ng-model="supplier.profilePic"
             ngf-max-size="2MB"/>
        <img class="avatar img-circle"
             ng-if="supplier.profilePic"
             ngf-thumbnail="supplier.profilePic"
             class="default-image pull-left"
             ngf-select
             ng-model="supplier.profilePic"
             accept="image/*"
             ngf-max-size="2MB"/>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="signup-field">
            <label>Nombre:</label>
            <input
                type="text"
                required=""
                ng-model="supplier.Name"
                class="form-control"
                name="inputName"
                placeholder="Nombre"
                ng-class="{'invalid':data.inputName.$error.required && (data.$submitted || data.inputName.$touched)}"/>
            <div class="dashboard-error" ng-show="data.$submitted || data.inputName.$touched">
                <div ng-show="data.inputName.$error.required">Agregue un Nombre.</div>
            </div>
        </div>
        <div class="signup-field">
            <label>Facebook:</label>
            <input
                type="text"
                ng-model="supplier.FacebookUrl"
                class="form-control"
                name="inputFacebookUrl"
                placeholder="Facebook"/>
        </div>
        <div class="signup-field">
            <label>Twitter:</label>
            <input
                type="text"
                ng-model="supplier.TwitterUrl"
                class="form-control"
                name="inputTwitterUrl"
                placeholder="Twitter"/>
        </div>
        <div class="signup-field">
            <label>Instagram:</label>
            <input
                type="text"
                ng-model="supplier.InstagramUrl"
                class="form-control"
                name="inputInstagramUrl"
                placeholder="Instagram"/>
        </div>
        <div class="signup-field">
            <button ng-click="saveSupplierProfile(data, closeProfile)" class="btn btn-default btn-submit pull-left"
                    ng-class="[{'invalid':!data.$valid && data.$submitted}]"
            >Guardar</button>
            <button ng-click="getDashboard() ; saveSupplierProfile(data)" class="btn btn-default pull-right">Cancelar</button>
        </div>
    </div>
</form>
