<div class="container-fluid gray-bg">
    <div class="container supplier">
        <div class="row">
            <div class="col-lg-9 col-sm-12">
                <div class="container-fluid">

                    <div class="row frame" ng-show="!editProfile">
                        <div class="col-xs-4"><img class="avatar img-circle" src="img/loverde_avatar.jpg"/></div>
                        <div class="col-xs-4"><h1 editable-text="supplier.Name" class="index-title">{{supplier.Name | uppercase}}</h1>
                            <p>Nombre</p>
                            <div ng-if="dashboard.ServiceTypes !=0" ng-repeat="service in services"
                                 ng-controller="dashboardSupplierController">
                                <div class="service-type">{{serviceItems[service].name}}</div>
                            </div>
                            <p class="description">Miembro desde {{dashboard.Created | date: 'MMMM yyyy'}}</p></div>
                        <div class="col-xs-4"><h3><a ng-href="{{supplier.FacebookUrl}}"
                                                     editable-text="supplier.FacebookUrl">{{supplier.FacebookUrl}}</a>
                        </h3>
                            <p>Facebook</p>
                            <h3><a ng-href="{{supplier.TwitterUrl}}" editable-text="supplier.TwitterUrl">{{supplier.TwitterUrl}}</a>
                            </h3>
                            <p>Twitter</p>
                            <h3><a ng-href="{{supplier.InstagramUrl}}" editable-text="supplier.InstagramUrl">{{supplier.InstagramUrl}}</a>
                            </h3>
                            <p>Instagram</p></div>
                        <div class="col-xs">
                            <button  ng-show="!editProfile" ng-click="editProfile = !editProfile" class="btn btn-default btn-submit" >Editar</button>
                        </div>
                    </div>

                    <ng-include ng-show="editProfile" src="'/app/views/dashboard-supplier-profile.html'"></ng-include>

                    <div class="row">
                        <div class="col-xs-6 col-md-3 menu-item"><a>Mi Perfil</a></div>
                        <div class="col-xs-6 col-md-3 menu-item"><a>Mis Visitas</a></div>
                        <div class="col-xs-6 col-md-3 menu-item"><a>Favoritos</a></div>
                        <div class="col-xs-6 col-md-3 menu-item"><a>Upgrade</a></div>
                    </div>
                    <div class="row">

                        <div class=" col-xs-10"><h2 class="sub-title">SOBRE MI</h2></div>

                            <button  ng-show="!editAboutMe" ng-click="editAboutMe = !editAboutMe" class="btn btn-default btn-submit" >Editar</button>



                </div>
                    <!-- Edit about ME !--->

                    <ng-include ng-show="editAboutMe" src="'/app/views/dashboard-supplier-aboutMe.html'"></ng-include>

                    <div class="row frame" ng-show="!editAboutMe">

                    <div class="col-xs-5">
                        <h2 class="address" editable-text="supplier.Address">
                        {{supplier.Address | firstLetter }}</h2>
                        <h2 class="address" editable-text="supplier.Address">
                            {{supplier.City.Name | firstLetter}},{{supplier.State.Name | firstLetter}}</h2><br>
                        <h4 class="phone" editable-text="supplier.Phone">{{supplier.Phone | tel}}</h4>
                        <h5 class="price-range">$$$</h5>
                        <h2 class="hours">
                            {{supplier.OpeningHours.DayFrom}} A
                            {{supplier.OpeningHours.DayTo }}<br>
                            {{supplier.OpeningHours.HoursTo | firstLetter}} A
                            {{supplier.OpeningHours.HoursFrom | firstLetter}}

                        </h2>
                    </div>
                    <div class="col-xs-7"><p class="description" editable-textarea="supplier.Description" e-rows="7"
                                             e-cols="40">{{supplier.Description |  firstLetter}}</p>
                        </div>

                </div>
                    <button  ng-show="editAboutMe" ng-click="updateDetails()"  class="btn pull-right btn-save" >Guardar</button>
                <div class="row">
                    <div class="col-xs-10">
                        <h2 class="sub-title">Servicios</h2>
                    </div>
                    <div class="col-xs-2">
                        <button
                                class="btn btn-default btn-submit"
                                ng-show="!editServices"
                                ng-click="editServices = !editServices">Editar</button>
                    </div>
                </div>
                <div class="row register-panel frame">
                    <div class="col-md-6"
                        ng-if="editServices"
                        ng-repeat="item in serviceTypes">
                        <label class="btn btn-default"  ng-class="{'active': haveItem(item.Id)}">
                            <input
                                type="checkbox"
                                checklist-model="dashboard.ServiceTypes"
                                checklist-value="item"/>
                            <span class="{{item.Name | icon}}"></span>
                            {{item.Name}}
                        </label>

                    </div>
                    <div class="col-md-12 text-center"
                         ng-if="dashboard.ServiceTypes.length === 0 && !editServices">
                        <h1>No has seleccionado algún servicio</h1>
                    </div>
                    <div class="col-md-6"
                         ng-if="!editServices"
                        ng-repeat="item in dashboard.ServiceTypes">
                        <label class="btn btn-default active">
                            <span class="{{item.Name | icon}}"></span>
                            {{item.Name}}
                        </label>
                    </div>
                </div>

                    <button
                            class="btn btn pull-right btn-save "
                            ng-show="editServices"
                            ng-click="updateServices();">Guardar</button>

            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="row frame text-center"><h1>AD</h1></div>
            <div class="row frame text-center"><h2>Perfil {{chart*100}}% completado</h2>
                <progress-arc complete="chart" stroke-width="30" size="200" stroke="#8c3e96"></progress-arc>
            </div>
        </div>
    </div>
</div>
</div>