<div class="container gray-bg supplier">
    <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="frame header clearfix">
            <div ng-show="!editProfile">
                <div class="col-xs-3">
                    <img class="avatar img-circle" src="img/photo-placeholder.jpg" ng-if="!supplier.pic"/>
                    <img class="avatar img-circle" src="{{supplier.pic}}" ng-if="supplier.pic"/>
                </div>
                <div class="col-xs-9">
                    <div class="col-xs-11">
                        <h1 class="index-title">{{supplier.Name}}</h1>
                        <p class="since">Miembro desde {{dashboard.Created | date: 'MMMM yyyy'}}</p>
                        <button  ng-show="!editProfile" ng-click="editProfile = !editProfile" class="btn btn-default btn-submit" >
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Editar
                        </button>
                    </div>
                    <div class="col-xs-1 social">
                        <a ng-href="{{supplier.FacebookUrl}}"
                           ng-if="supplier.FacebookUrl">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a ng-href="{{supplier.TwitterUrl}}"
                           ng-if="supplier.TwitterUrl">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                        <a ng-href="{{supplier.InstagramUrl}}"
                           ng-if="supplier.InstagramUrl">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <ng-include ng-show="editProfile" src="'/app/views/dashboard-supplier-profile.html'"></ng-include>
        </div>
        <div>
            <div class="col-xs-6 col-md-3 menu-item active"><a>Mi Perfil</a></div>
            <div class="col-xs-6 col-md-3 menu-item"><a>Mis Visitas</a></div>
            <div class="col-xs-6 col-md-3 menu-item"><a>Favoritos</a></div>
            <div class="col-xs-6 col-md-3 menu-item"><a>Upgrade</a></div>
        </div>
        <div class="clearfix">
            <div class="col-xs-10"><h2 class="sub-title">SOBRE MI</h2></div>
            <button
                ng-show="!editAboutMe"
                ng-click="editAboutMe = !editAboutMe"
                class="btn btn-default btn-submit">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Editar
            </button>
        </div>
        <!-- Edit about ME !--->
        <div class="frame clearfix">
            <div ng-if="!editAboutMe">
                <div class="col-md-5">
                    <div class="info-group">
                        <p class="address">{{supplier.Address | firstLetter }}</p>
                        <p class="address">{{supplier.City.Name | firstLetter}},{{supplier.State.Name | firstLetter}}</p>
                    </div>
                    <div class="info-group">
                        <p class="phone">{{supplier.Phone | tel}}</p>
                        <p>
                            {{supplier.OpeningHours.DayFrom | day}} a
                            {{supplier.OpeningHours.DayTo | day}} de
                            {{supplier.OpeningHours.HoursTo}}hs a
                            {{supplier.OpeningHours.HoursFrom}}hs
                        </p>
                    </div>
                </div>
                <div class="col-md-7">
                    <p>{{supplier.Description}}</p>
                </div>
            </div>
            <ng-include ng-if="editAboutMe" src="'/app/views/dashboard-supplier-aboutMe.html'"></ng-include>
        </div>
        <div class="clearfix">
        <div class=" col-xs-10">
            <h2 class="sub-title">SERVICIOS</h2>
        </div>
        <button
            class="btn btn-default btn-submit"
            ng-show="!editServices"
            ng-click="editServices = !editServices">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Editar</button>
    </div>
        <div class="register-panel frame clearfix">
            <div class="col-md-12 text-center"
                 ng-if="dashboard.ServiceTypes.length === 0 && !editServices">
                <h1>No has seleccionado algún servicio</h1>
            </div>
            <div ng-if="editServices">
                <div class="col-md-6"
                     ng-repeat="item in serviceTypes">
                    <label class="btn btn-default"  ng-class="{'active': haveItem(item.Id)}">
                        <input
                                type="checkbox"
                                checklist-model="dashboard.ServiceTypes"
                                checklist-value="item"/>
                        <span class="{{item.Name | icon}}"></span>
                        {{item.Name}}
                    </label>
                </div>
                <div class="signup-field col-md-12">
                    <button ng-click="updateServices()" class="btn btn-default btn-submit pull-left" >Guardar</button>
                    <button ng-click="getDashboard()" class="btn btn-default pull-right">Cancelar</button>
                </div>
            </div>
            <div ng-if="!editServices">
                <div class="col-md-6"
                     ng-repeat="item in dashboard.ServiceTypes">
                    <label class="btn btn-default active">
                        <span class="{{item.Name | icon}}"></span>
                        {{item.Name}}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="frame text-center header"><h1>AD</h1></div>
        <div class="frame text-center header"><span>Perfil {{chart*100}}% completado</span>
            <progress-arc complete="chart" stroke-width="15" size="100" stroke="#8c3e96"></progress-arc>
        </div>
    </div>
</div>