<div class="container">
	<div class="list-header">
		<h4>Proveedores de {{eventName}}</h4>
		<p>Acontinuación un listado de proveedores.</p>
	</div>
	<div ng-repeat="supplier in suppliers" class="list-item clearfix row">
		<div class="col-md-2">
			<img src="img/photo-placeholder.jpg"/>
		</div>
		<div class="col-md-10">
			<h4>{{supplier.Name}}</h4>
			<span class="ligth-description">{{supplier.City.Name}}</span>
			<span class="ligth-description" ng-if="supplier.Phone"> , {{supplier.Address}}</span>
			<span class="ligth-description" ng-if="supplier.Phone"> | {{supplier.Phone}}</span>
			<p>{{supplier.Description}}</p>
			<div class="divider"></div>
			<div class="row">
				<div class="col-md-6">
					<p>Rango de precio: $$$$</p>
				</div>
				<div class="col-md-6">
					<a class="more-info">MAS INFORMACIÓN</a>
				</div>
			</div>
		</div>
	</div>
	<ul class="list-nav">
		<li><a class="{{isCurrentPage(0)?'active':''}}" ng-click="goPage(0)">1</a></li>
		<li><a class="{{isCurrentPage(5)?'active':''}}" ng-click="goPage(5)">2</a></li>
		<li><a class="{{isCurrentPage(10)?'active':''}}" ng-click="goPage(10)">3</a></li>
		<li><a class="{{isCurrentPage(15)?'active':''}}" ng-click="goPage(15)">4</a></li>
		<li><a ng-click="nextPage();">Siguiente</a></li>
	</ul>
</div>