<div class="container-fluid">
    <div class="row">
        <div class="carousel-image img-panel-full img-panel-full-register event-detail">
            <div class="carousel-caption"></div>
            <ul class="event-menu">
                <li class="active">
                    <i class="icon icon-agenda"></i>
                    agenda
                </li>
                <li class="odd">
                    <i class="icon icon-presupuesto"></i>
                    presupuesto
                </li>
                <li>
                    <i class="icon icon-invitados"></i>
                    invitados
                </li>
                <li class="odd">
                    <i class="icon icon-proveedores"></i>
                    proveedores
                </li>
            </ul>
        </div>
    </div>
</div>