<ul class="planner-nav supplier col-md-12 col-sm-12 col-xs-12" ng-cloak="">
    <li class="active col-md-3 col-sm-3 col-xs-3 menu-item"><a href="#/planner">Mis eventos</a></li>
    <li class="col-md-3 col-md-3 col-sm-3 col-xs-3 menu-item"><a href="#/planner/account">Mi Cuenta</a></li>
    <li class="col-md-3 col-md-3 col-sm-3 col-xs-3 menu-item odd"><a href="#/planner/datat">Mis Datos</a></li>
    <li class="col-md-3 col-md-3 col-sm-3 col-xs-3 menu-item"><a href="#/planner/chat">Chat</a></li>
</ul>
<div class="col-md-12 col-sm-12 col-xs-12 event-detail-header">
    <div class="event-detail-icon"><i class="{{event.EventType.Name | icon}}"></i></div>
    <div class="text">
        <h1 class="event-title">{{event.Title}}</h1>
    </div>
    <div class="event-detail-caption">
        <p class="" ng-if="event.RemainingDays >= 0">Faltan <b>{{event.RemainingDays}}</b> día{{event.RemainingDays > 1 ? "s" : ""}}</p>
        <p class="" ng-if="event.RemainingDays < 0">Este evento finalizó el <b>{{event.Date | date: 'dd/MM/yyyy'}}</b></p>
    </div>
    <div class="" style="    position: absolute;
top: 100%;
margin-top: -105px;
left: 50%;
margin-left: -250px;">

        <ul class="event-menu">
            <li ng-class="{'active':isActive('agenda')}"
                    ng-click="goDetail('agenda')">
                <i class="icon icon-agenda"></i>
                agenda
            </li>
            <li ng-class="{'active':isActive('presupuesto'), 'odd': true}"
                ng-click="goDetail('presupuesto')">
                <i class="icon icon-presupuesto"></i>
                presupuesto
            </li>
            <li ng-class="{'active':isActive('invitados')}"
                ng-click="goDetail('invitados')">
                <i class="icon icon-invitados"></i>
                invitados
            </li>
            <li ng-class="{'active':isActive('proveedores'), 'odd': true}"
                ng-click="goDetail('proveedores')">
                <i class="icon icon-proveedores"></i>
                proveedores
            </li>
        </ul>
    </div>
</div>
<ul class="event-menu-responsive col-md-12 col-xs-12 col-sm-12">
    <li
        ng-class="{'active':isActive('agenda')}"
        ng-click="goDetail('agenda')">
        <i class="icon icon-agenda"></i>
            AGENDA</li>
    <li ng-class="{'active':isActive('presupuesto'), 'odd': true}"
        ng-click="goDetail('presupuesto')">
        <i class="icon icon-presupuesto"></i>
        PRESUPUESTO</li>
    <li ng-class="{'active':isActive('invitados')}"
        ng-click="goDetail('invitados')">
        <i class="icon icon-invitados"></i>
        INVITADOS</li>
    <li
        ng-class="{'active':isActive('proveedores'), 'odd': true}"
        ng-click="goDetail('proveedores')">
        <i class="icon icon-proveedores"></i>
        PROVEEDORES</li>
</ul>
<div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #FFF; min-height: 200px">
    <my-agenda ng-show="isActive('agenda')" id="eventId" event="event"></my-agenda>
    <my-budget ng-show="isActive('presupuesto')" id="eventId" event="event"></my-budget>
    <my-guest ng-show="isActive('invitados')" id="eventId" event="event"></my-guest>
    <my-supplier ng-show="isActive('proveedores')" id="eventId" event="event"></my-supplier>
</div>
