<div class="faq-header">
  <i class="fa fa-question-circle" aria-hidden="true"></i>
  <h2>Preguntas Frecuentes</h2>
</div>
<div class="faq container">
  <p class="question">¿Cómo me puedo inscribir como proveedor a migrandia.mx?</p>
  <p class="answer">Inscribirte a migrandia.mx es muy fácil. En la parte superior derecha de nuestra página de inicio encontrarás la opción para registrarte, da click en registro, selecciona la opción para proveedores e ingresa tus datos, en menos de 5 minutos disfrutarás de nuestros servicios.</p>
  <p class="question">¿Tiene algún costo inscribirme como proveedor a migrandia.mx?</p>
  <p class="answer">No, inscribirte a migrandia.mx no tiene ningún costo pero tenemos a tu disposición diferentes planes que aumentarán tus posibilidades de conseguir nuevos clientes.</p>
  <p class="question">¿Tiene algún costo registrarme como usuario?</p>
  <p class="answer">No, el registro de usuarios es totalmente gratuito.</p>
  <p class="question">¿Qué beneficios obtengo al registrarme en migrandia.mx?</p>
  <p class="answer">Según el tipo de cuenta que elijas obtienes diferentes beneficios.</p>
</div>
