<div class="container-fluid container-custom" ng-cloak="">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			<div class="carousel-image" style="background-image:url('{{slide.img}}')">
				<div class="carousel-caption">{{slide.text}}</div>
			</div>
		</uib-slide>
	</uib-carousel>
	<div class="page-divider">
		<div class="content">
			<span>Comienza a Organizar</span>
		</div>
		<div class="caret-icon"><div></div></div>
	</div>
	<div class="events">
		<div class="content">
			<div class="col-md-3 col-sm-3 events-item" ng-repeat="event in getEvents()">
				<a href="#/events/{{event.Id}}" class="event-icon">
					<img src="img/icons-org/{{event.Name | icon}}.png" />
				</a>
				<a href="#/events/{{event.Id}}"><h2 class="event-name">{{event.Name}}</h2></a>
			</div>
		</div>
	</div>

	<div class="posts">
		<div class="content">
				<h2 class="posts-title">Nuestros proveedores all star</h2>
				<owl-carousel class="owl-carousel">
					<div owl-carousel-item class="supplier-item-container" ng-repeat="supplier in suppliers">
						<div class="supplier-item">
							<a href="#/suppliers/{{supplier.Id}}" class="supplier-item-img">
									<img src="img/photo-placeholder.jpg" ng-if="!supplier.LogoUrl" class="img-responsive"/>
									<img src="{{supplier.LogoUrl}}" ng-if="supplier.LogoUrl" class="img-responsive"/>
									<div class="supplier-item-star-container">
										<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
									</div>
							</a>
							<div class="supplier-item-info-container">
								<div class="supplier-item-service-type" ng-if="supplier.ServiceTypes[0].Name">
									{{supplier.ServiceTypes[0].Name}}
								</div>
								<div class="supplier-item-info">
									<h3>{{supplier.Name}}</h3>
									<p class="supplier-item-info-city">{{supplier.City.Name}}</p>
									<p class="supplier-item-info-desc">{{supplier.Description | limitTo: 200}}</p>
								</div>
							</div>
						</div>
						<a href="#/suppliers/{{supplier.Id}}" class="supplier-item-read-more">
							Más Información
						</a>
					</div>
				</owl-carousel>
			</div>
		</div>
	</div>

	<div class="ideas">
		<div class="content">
			<div class="clearfix">
				<h2 class="title pull-left">Ideas para tu gran día</h2>
				<a href="http://blog.migrandia.mx" class="ideas-more-btn pull-right">Ver más ideas</a>
			</div>

			<div class="col-xs-12 no-padding">

				<div class="ideas-item ideas-item-tablet hidden-xs" ng-repeat-start="wpPost in wpPosts">
					<div class="ideas-item-img">
						<a href="{{wpPost.link}}"><img src="{{wpPost.media.data.source_url || 'img/a7.jpg'}}" alt="" /></a>
					</div>
					<div class="ideas-item-info-container">
						<h3><a href="{{wpPost.link}}">{{wpPost.title.rendered}}</a></h3>
						<p>{{wpPost.plainContent | limitTo: 150}}</p>
						<p class="ideas-item-info-meta">
							{{wpPost.author.data.name}} | {{wpPost.date | date}}
						</p>
						<a target="_blank" href="http://www.facebook.com/share.php?u={{wpPost.link}}&title={{wpPost.title.rendered}}" class="ideas-item-info-social ideas-item-info-social-share"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
						<a href="#" class="fb-like ideas-item-info-social"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
					</div>
				</div>

				<div class="ideas-item ideas-item-phone visible-xs-block" ng-repeat-end>
					<div class="ideas-item-img">
						<a href="{{wpPost.link}}"><img src="{{wpPost.media.data.source_url || 'img/a7.jpg'}}" alt="" /></a>
					</div>
					<div class="ideas-item-info-container">
						<h3><a href="{{wpPost.link}}">{{wpPost.title.rendered}}</a></h3>
						<p>{{wpPost.plainContent | limitTo: 150}}</p>
						<p class="ideas-item-info-meta">
							{{wpPost.author.data.name}} | {{wpPost.date | date}}
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="herramientas">
		<div class="content">
			<div class="col-xs-12">
				<h2 class="title">Nuestras herramientas</h2>
				<p class="sub-title">
					Contamos con las mejores herramientas para facilitar la organización del evento
				</p>

				<div class="col-sm-3 herramientas-item">
					<img src="img/1.png" alt="" />
					<h3>Agenda</h3>
					<p>
						¡No pierdas ninguna cita!<br/>
						Administra mejor tus tareas con ayuda de un organizador que incluya las fechas importantes.
					</p>
				</div>
				<div class="col-sm-3 herramientas-item">
					<img src="img/2.png" alt="" />
					<h3>Presupuesto</h3>
					<p>
						¡Controla tus gastos!<br/>
						Gestiona tu presupuesto con ayuda de un administrador de gastos y pagos.
					</p>
				</div>
				<div class="col-sm-3 herramientas-item">
					<img src="img/3.png" alt="" />
					<h3>Invitados</h3>
					<p>
						¡Que nadie se quede fuera!<br/>
						Registra a tus invitados y agrúpalos de la manera más conveniente según tu evento.
					</p>
				</div>
				<div class="col-sm-3 herramientas-item">
					<img src="img/4.png" alt="" />
					<h3>Proveedores</h3>
					<p>
						¡Encuentra lo que necesitas!<br/>
						Navega en la lista de proveedores más grande del país, encuentra el servicio que estás buscando y crea tu lista de favoritos.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
