<div class="container-fluid">
	<div class="row">
		<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
			<uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
				<div class="col-xs-12 carousel-image" style="background-image:url('{{slide.img}}')">
					<div class="carousel-caption">{{slide.text}}</div>
				</div>
			</uib-slide>
		</uib-carousel>
	</div>
	<div class="row" style="top: 16px; position: relative; padding: 15px">
		<div class="col-md-5 separator"></div>
		<div class="col-md-2 text-center">
			<label style="position: relative;top: -15px">Organiza</label>
		</div>
		<div class="col-md-5 separator"></div>
	</div>
	<div class="row events">
		<div class="col-xs-6 col-sm-3" ng-repeat="event in getEvents()">
			<a href="#/events/{{event.Id}}?eventName={{event.Name}}" class="event-icon">
				<span class="icon-{{event.Name.toLowerCase()}}"></span>
			</a>
			<a href="#/events/{{event.Id}}?eventName={{event.Name}}"><h2 class="event-name">{{event.Name}}</h2></a>
		</div>
	</div>
</div>