<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="carousel-image img-supplier">
                <div class="carousel-caption">¡Haz crecer tu negocio!
                    <div class="carousel-info">
                        <p>Ingresa a <span style="text-decoration: underline;">migrandia.mx</span> para ofrecer tus servicios.</p>
                        <a href="#/signup-supplier" class="btn btn-default btn-submit">¿Eres nuevo aqui? Unete hoy.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="login-caption col-xs-10 col-xs-offset-1"><h1>Bienvenido</h1></div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0" ng-if="message">
                    <div class="form-group signup-error">
                        <div class="error">
                            <div ng-show="message">{{message}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form class="form-horizontal" ng-submit="loginSupplier()" name="loginForm" novalidate>
                        <div class="form-group">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="form-group signup-field">
                                    <input
                                        name="inputEmail"
                                        class="form-control"
                                        type="email"
                                        placeholder="Email"
                                        data-ng-model="loginData.Email"
                                        required="required" autofocus="autofocus"
                                        ng-class="{'invalid':(loginForm.inputEmail.$error.required || loginForm.inputEmail.$error.email) && (data.$submitted || loginForm.inputEmail.$touched)}"/>
                                    <div class="error" ng-show="loginForm.$submitted || loginForm.inputEmail.$touched">
                                        <div ng-show="loginForm.inputEmail.$error.required">Ingresa tu email.</div>
                                        <div ng-show="loginForm.inputEmail.$error.email">Ingresa un email valido.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="form-group signup-field">
                                    <input
                                        class="form-control" id="inputPassword" type="password"
                                        placeholder="Contraseña" data-ng-model="loginData.Password" required="required"
                                        name="password"
                                        ng-class="{'invalid':loginForm.password.$error.required && (loginForm.$submitted || loginForm.password.$touched)}"/>
                                    <div class="error" ng-show="loginForm.$submitted || loginForm.password.$touched">
                                        <div ng-show="loginForm.password.$error.required">Ingresa tu password.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 clearfix">
                                <input
                                    class="btn btn-default btn-submit pull-right" id="inputSubmit" type="submit"
                                    ng-disabled="!loginForm.$valid"
                                    value="Ingresar"/>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1 clearfix" style="text-align: center">
                                <a style="text-decoration: underline;">¿Olvidaste tu contraña?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>