<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12 calendar-title">
                <span>Tareas</span>
            </div>
            <ul class="col-md-12 calendar-filter">
                <li class="clearfix">
                    <i class="fa fa-calendar-o"></i>
                    Hoy
                    <i class="info-filter pull-right">0</i>
                </li>
                <li class="clearfix">
                    <i class="fa fa-calendar"></i>
                    Semana
                    <i class="info-filter pull-right">0</i>
                </li>
                <li class="clearfix">
                    <i class="icon icon-catering"></i>
                    Catering
                    <i class="info-filter pull-right">0</i>
                </li>
                <li class="clearfix">
                    <i class="fa fa-gift"></i>
                    Mesa de Regalo
                    <i class="info-filter pull-right">0</i>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-5" style="background-color: #FAF5FB; min-height: 400px;">
        <div class="col-md-12" style="margin: 20px 0 10px 0;">
            <button
                ng-click="addTask = !addTask"
                style="width: 100%;"
                class="btn btn-defasult btn-submit btn-task">Agregar Tarea</button>
        </div>
        <div class="col-md-12 task-form" uib-collapse="!addTask">
            <form name="data" novalidate="novalidate">
                <div class="input-group col-md-12">
                    <input
                            class="form-control"
                            type="text"
                            name="tarea"
                            placeholder="Nombre de la tarea"
                            required="required"
                            ng-model="newTask.Title"
                            ng-class="{'invalid':(data.tarea.$error.required || data.tarea.$error.pattern) && (data.$submitted || data.tarea.$touched)}">
                    <div class="dashboard-error" ng-show="data.$submitted || data.tarea.$touched">
                        <div ng-show="data.tarea.$error.required">Dinos el nombre de la tarea.</div>
                    </div>
                </div>
                <div class="input-group col-md-12">
                    <select class="form-control"
                            name="service"
                            ng-model="newTask.ServiceTypeId"
                            required="required"
                            ng-class="{'invalid':data.service.$error.required && (data.$submitted || data.service.$touched)}">
                        <option value="" disabled>Selecciona un tipo de servicio</option>
                        <option ng-repeat="service in serviceTypes" value="{{service.Id}}">{{service.Name}}</option>
                    </select>
                    <div class="dashboard-error" ng-show="data.$submitted || data.service.$touched">
                        <div ng-show="data.service.$error.required">Selecciona un servicio.</div>
                    </div>
                </div>
                <div class="input-group col-md-12">
                    <input
                        class="form-control"
                        type="text"
                        uib-datepicker-popup="dd/MM/yyyy"
                        ng-model="newTask.DueDate"
                        name="date"
                        is-open="datepicker.opened"
                        datepicker-options="dateOptions"
                        close-text="Cerrar"
                        clear-text="Borrar"
                        current-text="Hoy"
                        alt-input-formats="altInputFormats"
                        placeholder="DD/MM/YYYY"
                        required="required"
                        popup-placement="top-right"
                        ng-class="{'invalid':(data.date.$error.required || data.date.$error.pattern) && (data.$submitted || data.date.$touched)}"/>
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-input" type="button"
                            ng-click="datepicker.opened = !datepicker.opened">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </div>
                </div>
                <div class="dashboard-error" ng-show="data.$submitted || data.date.$touched">
                    <div ng-show="data.date.$error.required">Selecciona una fecha</div>
                </div>

                <div class="input-group col-md-12">
                    <textarea
                        class="form-control dashTextarea "
                        name="textTareaDescription"
                        required="required"
                        type="text"
                        placeholder="Agregue una nota"
                        ng-model="newTask.Notes"
                        rows="10"
                        cols="50"
                        ng-class="{'invalid':data.textTareaDescription.$error.required && (data.$submitted || data.textTareaDescription.$touched)}">
                     </textarea>
                    <div class="dashboard-error" ng-show="data.$submitted || data.textTareaDescription.$touched">
                        <div ng-show="data.textTareaDescription.$error.required">Agregar una Nota.</div>
                    </div>
                </div>

                <div class="input-group col-md-12">
                    <button ng-click="createTask(data)" class="btn btn-default btn-submit pull-right">Guardar</button>
                </div>
            </form>
        </div>

        <div class="col-md-12" ng-repeat="item in taskItem">
            <span class="ligth-description">{{item.Title}}</span>
            <div class="list-item clearfix">
                <div ng-hide="editTask == !editTask">
                    <div class="col-md-6">
                        <div class="ligth-description">{{item.ServiceType.Name}} {{item.DueDate | date:"MM/dd/yyyy"}}
                        </div>
                        <button ng-click="deleteItem(item.Id)" class="btn btn-primary btn-sm">Borrar</button>
                        <button ng-click="editTask = !editTask" class="btn btn-primary btn-sm">Editar</button>
                    </div>
                    <!--
                    <form name="form" ng-show="editTask" novalidate="novalidate">
                        <div class="input-group">
                            <input
                                    class="form-control"
                                    type="text"
                                    name="tarea"
                                    placeholder="Agregar Tarea"
                                    required="required"
                                    ng-model="item.Title"
                                    ng-class="{'invalid':(form.tarea.$error.required || form.tarea.$error.pattern) && (form.$submitted || form.tarea.$touched)}"/>
                            <div class="dashboard-error" ng-show="form.$submitted || form.tarea.$touched">
                                <div ng-show="form.tarea.$error.required">Agregar una Tarea.</div>
                            </div>
                        </div>

                        <div class="input-group">
                            <select class="form-control"
                                    required="required"
                                    name="service"
                                    ng-model="item.ServiceType"
                                    ng-options="service as service.Name for service in serviceTypes track by service.Id"
                                    ng-class="{'invalid':form.service.$error.required && (form.$submitted || form.service.$touched)}">
                            </select>
                        </div>
                        <div class="error" ng-show="form.$submitted || form.service.$touched">
                            <div ng-show="form.service.$error.required">Selecciona un servicio.</div>
                        </div>
                        <div class="input-group">
                            <input
                                    class="form-control"
                                    type="text"
                                    uib-datepicker-popup="dd/MM/yyyy"
                                    ng-model="item.DueDate"
                                    name="date"
                                    is-open="datepicker.opened"
                                    datepicker-options="dateOptions"
                                    close-text="Cerrar"
                                    clear-text="Borrar"
                                    current-text="Hoy"
                                    alt-input-formats="altInputFormats"
                                    placeholder="DD/MM/YYYY"
                                    required="required"
                                    popup-placement="top-right"
                                    ng-class="{'invalid':(form.date.$error.required || form.date.$error.pattern) && (form.$submitted || form.date.$touched)}"/>
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-input" type="button"
                                        ng-click="datepicker.opened = !datepicker.opened">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </div>
                            <div class="error" ng-show="form.$submitted || form.date.$touched">
                                <div ng-show="form.date.$error.required">Selecciona una fecha</div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label>Agregar una nota</label>
            <textarea
                    class="form-control dashTextarea "
                    name="textTareaDescription"
                    required="required"
                    type="text"
                    placeholder="Nota"
                    ng-model="item.Notes"
                    rows="10"
                    cols="50"
                    ng-class="{'invalid':form.textTareaDescription.$error.required && (form.$submitted || form.textTareaDescription.$touched)}">
                     </textarea>
                            <div class="dashboard-error" ng-show="form.$submitted || form.textTareaDescription.$touched">
                                <div ng-show="form.textTareaDescription.$error.required">Agregar una Nota.</div>
                            </div>
                        </div>

                        <div class="signup-field">
                            <button ng-click="update(item.Id, item)" class="btn btn-default pull-right">Guardar</button>
                        </div>
                    </form>
                    -->
                </div>
            </div>
        </div>

    </div>
</div>