<div class="search col-md-12 col-sm-12 col-xs-12" ng-cloak="">
    <div class="container clearfix">
        <form ng-submit="doQuery()">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input
                    placeholder="Escribe que buscas"
                    ng-model="query">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 text-center">
                <select ng-model="CityId">
                    <option value="" selected>Elije una ciudad</option>
                    <option ng-repeat="city in cities" value="{{city.Id}}">{{city.Name}}</option>
                </select>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <button class="pull-right btn btn-default btn-search">
                    Buscar
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="container" ng-cloak="">
    <div class="list-header clearfix">
        <div class="col-md-12">
            <h4 class="col-md-4 col-sm-4 col-xs-12">{{title}}</h4>
            <span class="col-md-3 col-sm-3 col-xs-12 pull-left span-header">{{totalSuppliers}} proveedores</span>
        </div>
        <div class="col-md-12 col-sm-12">
            <p>A continuación un listado de proveedores.</p>
        </div>
    </div>
    <div class="col-md-9">
        <div
            ng-repeat="supplier in suppliers"
            class="list-item clearfix row"
            infinite-scroll='nextPage()'
            infinite-scroll-disabled='loading'
            infinite-scroll-distance='1'>
            <div class="col-md-3 col-xs-4">
                <a href="#/suppliers/{{supplier.Id}}">
                    <img src="img/photo-placeholder.jpg" ng-if="!supplier.LogoUrl"/>
                    <img src="{{supplier.LogoUrl}}" ng-if="supplier.LogoUrl"/>
                </a>
            </div>
            <div class="col-md-9 col-xs-8">
                <a href="#/suppliers/{{supplier.Id}}">{{supplier.Name}}</a>
                <div ng-show="supplier.SubscriptionType.Name=='All Star'" clasS="pull-right">
                    <a href="/#/planner/chat/{{supplier.Id}}">
                        <img class='supplier-chat' src='/img/chat-icon.png'>
                    </a>
                </div>
                <span class="ligth-description">{{supplier.City.Name}}</span>
                <span class="ligth-description" ng-if="supplier.Phone"> , {{supplier.Address}}</span>
                <span class="ligth-description" ng-if="supplier.Phone"> | {{supplier.Phone}}</span>
                <p>{{supplier.Description}}</p>
                <div class="divider"></div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <span class="premium-service" ng-repeat="service in supplier.ServiceTypes">
                                <i class="{{service.Name| icon}}"></i>
                                {{service.Name}}
                            </span>
                        </div>
                        <div class="col-md-4 col-xs-4 col-sm-4">
                            <a href="#/suppliers/{{supplier.Id}}" class="pull-right more-info">MAS INFORMACIÓN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="filter-list clearfix row">
            <span>Filtrar por:</span>
        </div>
        <div div="filter-content">
            <uib-accordion close-others="true">
                <uib-accordion-group ng-repeat="filterKey in getFilterNames()">
                    <uib-accordion-heading>
                        {{filterKey| filterKey}}
                        <i class="pull-right glyphicon glyphicon-chevron-right"></i>
                    </uib-accordion-heading>
                    <ul>
                        <li ng-repeat="filter in filters[filterKey]">
                            <a ng-click="doFilter(filterKey, filter)">{{filter.Title}}<span>{{filter.Count}}</span></a>
                        </li>
                    </ul>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</div>