<div class="supplier" ng-cloak="">
    <div class="col-xs-12 col-sm-4 col-md-4 menu-item odd"><a href="#/planner">Mis eventos</a></div>
    <div class="col-xs-12 col-sm-4 col-md-4 menu-item">
        <a href="#/planner/account">Mi Cuenta</a>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 menu-item active">
        <a href="#/planner/data">Mis Datos</a>
    </div>
    <div style="padding: 80px 0">
        <form class="form-horizontal main" name="data" form-step-validity="form-step-validity" novalidate ng-cloak="">
            <div class="container">
                <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0" ng-if="errorMessage && !data.$valid">
                    <div class="form-group signup-error">
                        <div class="error">
                            <div ng-show="errorMessage">{{errorMessage.data.ModelState[''][1]}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
                    <div class="form-group signup-field">
                        <input
                                class="form-control"
                                name="plannerName"
                                required=""
                                type="text"
                                placeholder="Nombre"
                                ng-model="planner.FirstName"
                                ng-class="{'invalid':data.plannerName.$error.required && (data.$submitted || data.plannerName.$touched)}"/>
                        <div class="error" ng-show="data.$submitted || data.plannerName.$touched">
                            <div ng-show="data.plannerName.$error.required">Dinos tu nombre.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
                    <div class="form-group signup-field">
                        <input
                                class="form-control"
                                name="plannerLastName"
                                required=""
                                type="text"
                                placeholder="Apellido"
                                ng-model="planner.LastName"
                                ng-class="{'invalid':data.plannerLastName.$error.required && (data.$submitted || data.plannerLastName.$touched)}"/>
                        <div class="error" ng-show="data.$submitted || data.plannerLastName.$touched">
                            <div ng-show="data.plannerLastName.$error.required">Dinos tu apellido.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
                    <div class="form-group signup-field">
                        <select class="form-control" name="state"
                                ng-class="{'invalid':data.state.$error.required && (data.$submitted || data.state.$touched)}"
                                ng-model="planner.StateId"
                                required="required"
                                ng-change="getCities()">
                            <option value="" disabled="disabled" selected="selected" class="placeholder">POBLACIÓN</option>
                            <option ng-repeat="state in states" value="{{state.Id}}">{{state.Name}}</option>
                        </select>
                        <div class="error" ng-show="data.$submitted || data.state.$touched">
                            <div ng-show="data.state.$error.required">Dinos la población a la que perteneces.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
                    <div class="form-group signup-field">
                        <select class="form-control" required="" ng-model="planner.CityId" name="city"
                                ng-class="{'invalid':data.city.$error.required && (data.$submitted || data.city.$touched)}">
                            <option value="" disabled="disabled" selected="selected" class="placeholder">CIUDAD</option>
                            <option value="{{city.Id}}" ng-repeat="city in cities">{{city.Name}}</option>
                        </select>
                        <div class="error" ng-show="data.$submitted || data.city.$touched">
                            <div ng-show="data.city.$error.required">Dinos la ciudad a la que perteneces.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
                    <div class="form-group signup-field">
                        <div class="input-group">
                            <input
                                    class="form-control"
                                    type="text"
                                    uib-datepicker-popup="dd/MM/yyyy"
                                    ng-model="planner.Birthdate"
                                    name="birthdate"
                                    is-open="datepicker.opened"
                                    datepicker-append-to-body="true"
                                    popup-placement="bottom-right"
                                    datepicker-options="dateOptions"
                                    close-text="Cerrar"
                                    clear-text="Borrar"
                                    current-text="Hoy"
                                    alt-input-formats="altInputFormats"
                                    placeholder="Fecha de nacimiento"
                                    required="required"
                                    popup-placement="top-right"
                                    ng-class="{'invalid':(data.birthdate.$error.required || data.birthdate.$error.compareTo) && (data.$submitted || data.birthdate.$touched)}"
                                    dropdown-append-to-body="dropdown-append-to-body"/>
                            <div class="input-group-btn">
                                <button class="btn btn-input" type="button" ng-click="openDatePicker()">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </div>
                        </div>
                        <div class="error" ng-show="data.$submitted || data.birthdate.$touched">
                            <div ng-show="data.birthdate.$error.required">Dinos tu fecha de nacimiento.</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-6 clearfix">
                    <button
                            class="btn btn-default btn-submit next pull-right"
                            ng-class="[{'invalid':!data.$valid && data.$submitted}]"
                            ng-click="update(data)">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>