<ul class="planner-nav col-md-12">
    <li class="active col-md-3"><a>mis eventos</a></li>
    <li class="col-md-3"><a>mis proveedores</a></li>
    <li class="col-md-3 odd"><a>acceso proveedores</a></li>
    <li class="col-md-3"><a>mi cuenta</a></li>
</ul>

<div class="container planner-list">
    <div class="list-header clearfix">
        <div class="col-md-12">
            <h4>Eventos Recientes</h4>
        </div>
    </div>

    <div class="col-md-8">
        <div
            class="list-item clearfix">
            <div class="col-md-6 row">
                <a>Despedida Lore</a>
                <span class="ligth-description">Hermosillo, Sonora</span>
            </div>
            <div class="col-md-6 row event-buttons pull-right">
                <button class="btn btn-defasult btn-submit pull-right" ng-disabled="true"><i class="fa fa-trash"></i></button>
                <button class="btn btn-defasult btn-more-info pull-right">MAS INFORMACION</button>
            </div>
            <div class="divider col-md-12"></div>
            <div class="col-md-6 row">
                <p class="ligth-description">Fecha: 23 Feb, 2016 4:00 PM</p>
                <p class="ligth-description">Locacion: Salon de eventos Versalles</p>
                <p class="ligth-description">Invitados: 100</p>
            </div>
            <div class="col-md-6 pull-right">
                <p class="ligth-description">Limite de presupuesto: 30,000 MXN</p>
                <p class="ligth-description">Presupuesto gastado: 15,000 MXN</p>
                <p class="ligth-description">Proveedores guardados: 5</p>
            </div>
        </div>

        <div
                class="list-item clearfix"
                ng-repeat="event in events">
            <div class="col-md-6 row">
                <a>Despedida Lore</a>
                <span class="ligth-description">Hermosillo, Sonora</span>
            </div>
            <div class="col-md-6 row event-buttons pull-right">
                <button class="btn btn-defasult btn-submit pull-right" ng-disabled="true"><i class="fa fa-trash"></i></button>
                <button class="btn btn-defasult btn-more-info pull-right">MAS INFORMACION</button>
            </div>
            <div class="divider col-md-12"></div>
            <div class="col-md-6 row">
                <p class="ligth-description">Fecha: 23 Feb, 2016 4:00 PM</p>
                <p class="ligth-description">Locacion: Salon de eventos Versalles</p>
                <p class="ligth-description">Invitados: 100</p>
            </div>
            <div class="col-md-6 pull-right">
                <p class="ligth-description">Limite de presupuesto: 30,000 MXN</p>
                <p class="ligth-description">Presupuesto gastado: 15,000 MXN</p>
                <p class="ligth-description">Proveedores guardados: 5</p>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="filter-list clearfix row">
            <span>PASADOS</span>
        </div>
        <div div="filter-content">
            <uib-accordion close-others="true">
                <!--
                <uib-accordion-group ng-repeat="filterKey in getFilterNames()">
                    <uib-accordion-heading>
                        {{filterKey | filterKey}}
                        <i class="pull-right glyphicon glyphicon-chevron-right"></i>
                    </uib-accordion-heading>
                    <ul>
                        <li ng-repeat="filter in filters[filterKey]">
                            <a ng-click="doFilter(filterKey, filter)">{{filter.Title}}<span>{{filter.Count}}</span></a>
                        </li>
                    </ul>
                </uib-accordion-group>
                -->
            </uib-accordion>
        </div>
        <button class="btn btn-default btn-submit" style="width: 100%;">CREAR NUEVO EVENTO</button>
    </div>
</div>