<div class="container-fluid main">
	<div class="col-lg-12 text-center">
		<h1 class="promt">¿Qué tipo de evento organizas?</h1>
	</div>
	<div class="container register-panel" ng-controller="eventListController">
		<div class="col-xs-6 col-md-4" ng-repeat="item in eventItems">
			<label class="btn btn-default" ng-class="{'active': hasEvent(item)}">
				<input type="checkbox" checklist-model="supplierEvents" checklist-value="item"/>
				<span class="icon-{{item.Name.toLowerCase()}}"></span>
				{{item.Name}}
			</label>
		</div>
	</div>
</div>
<div class="container text-center">
	<button
			class="btn btn-default btn-submit prev"
			ng-hide="$isFirst()"
			ng-click="getSupplierBusinessData($previousStep)">Regresar</button>
	<button
			class="btn btn-default btn-submit next"
			ng-click="saveSupplierEvents($nextStep)">Siguiente
	</button>
</div>