<div class="container-fluid">
	<div class="row">
		<div class="carousel-image img-panel-full img-panel-full-register">
			<div class="carousel-caption">
				Regístrate para ofrecer tus servicios
				<h2>Sólo te toma unos minutos.</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="text-center">
			<h1 class="promt">Introduce tus datos</h1>
		</div>
	</div>
	<form class="form-horizontal main" name="supplier-data" form-step-validity="form-step-validity">
		<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
			<div class="form-group signup-field">
				<input class="form-control" id="inputName" required="required" type="text" placeholder="Nombre(s)" ng-model="planner.FirstName"/>
			</div>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
			<div class="form-group signup-field">
				<input class="form-control" id="inputName" required="required" type="text" placeholder="Apellido(s)" ng-model="planner.LastName"/>
			</div>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
			<div class="form-group signup-field">
				<input class="form-control" id="inputPasswordConfirm" required="required" type="password" placeholder="Confirmar contraseña" ng-model="registration.ConfirmPassword"/>
			</div>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
			<div class="form-group signup-field">
				<input class="form-control" id="inputPassword" required="required" type="password" placeholder="Contraseña" ng-model="registration.Password"/>
			</div>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
			<div class="form-group signup-field">
				<input class="form-control" id="inputEmail" required="required" type="email" placeholder="Email" ng-model="registration.Email"/>
			</div>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
			<div class="form-group signup-field">
				<div class="input-group" style="margin: 0; padding: 0">
					<input class="form-control" type="text" uib-datepicker-popup="dd-MM-yyyy" ng-model="planner.Birthdate" is-open="datepicker.opened" datepicker-options="dateOptions" close-text="Cerrar" clear-text="Borrar" current-text="Hoy" alt-input-formats="altInputFormats" placeholder="DD/MM/AAAA" popup-placement="top-right" dropdown-append-to-body="dropdown-append-to-body"/>
					<div class="input-group-btn">
						<button class="btn btn-default btn-input" type="button" ng-click="openDatePicker()">
							<span class="glyphicon glyphicon-calendar"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
			<div class="form-group signup-field">
				<select class="form-control" required="required" ng-model="planner.CityId">
					<option value="" disabled="disabled" selected="selected">Ciudad</option><option value="1">Hermosillo</option>
				</select>
			</div>
		</div>
	</form>
</div>
<button class="btn btn-default btn-submit prev" ng-hide="$isFirst()" ng-click="$previousStep()">Regresar</button>
<button class="btn btn-default btn-submit next" ng-hide="$isLast()" ng-click="$nextStep()">Siguiente</button>
<button class="btn btn-default btn-submit next" ng-show="$isLast()" ng-click="signupPlanner()" type="submit">Finalizar</button>