<form class="form-horizontal main" form-step-validity="form-step-validity" name="business" novalidate>
    <div class="container register-form main">
        <div class="row">
            <div class="text-center"><h1 class="promt">Introduce tus datos</h1></div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
            <div class="form-group signup-field">
                <input
                    class="form-control" name="inputName" required="required"
                    type="text" placeholder="Nombre del proveedor"
                    ng-model="supplier.Name"
                    ng-class="{'invalid':business.inputName.$error.required && (business.$submitted || business.inputName.$touched)}"/>
                <div class="error" ng-show="business.$submitted || business.inputName.$touched">
                    <div ng-show="business.inputName.$error.required">Danos un nombre de proveedor.</div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
            <div class="form-group signup-field">
                <input
                        class="form-control"
                        name="inputDescription"
                        required="required"
                        type="textarea" placeholder="Descripción"
                        ng-model="supplier.Description"
                        ng-class="{'invalid':business.inputDescription.$error.required && (business.$submitted || business.inputDescription.$touched)}"/>
                <div class="error" ng-show="business.$submitted || business.inputDescription.$touched">
                    <div ng-show="business.inputDescription.$error.required">Danos una descripción para el proveedor.</div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
            <div class="form-group signup-field">
                <input
                        class="form-control"
                        name="inputAddress"
                        required="required"
                        type="text"
                        placeholder="Dirección"
                        ng-model="supplier.Address"
                        ng-class="{'invalid':business.inputAddress.$error.required && (business.$submitted || business.inputAddress.$touched)}"/>
                <div class="error" ng-show="business.$submitted || business.inputAddress.$touched">
                    <div ng-show="business.inputAddress.$error.required">Danos una dirección.</div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
            <div class="form-group signup-field">
                <input
                        class="form-control"
                        name="inputPhone"
                        required="required"
                        type="phone"
                        placeholder="Teléfono"
                        ng-model="supplier.Phone"
                        ng-class="{'invalid':business.inputPhone.$error.required && (business.$submitted || business.inputPhone.$touched)}"/>
                <div class="error" ng-show="business.$submitted || business.inputPhone.$touched">
                    <div ng-show="business.inputPhone.$error.required">Danos un teléfono.</div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
            <div class="form-group signup-field">
                <select
                        class="form-control"
                        required="required"
                        name="city"
                        ng-model="supplier.CityId"
                        ng-class="{'invalid':business.city.$error.required && (business.$submitted || business.city.$touched)}">
                    <option value="" disabled="disabled" selected="selected">Ciudad</option>
                    <option value="{{city.Id}}" ng-repeat="city in cities">{{city.Name}}</option>
                </select>
                <div class="error" ng-show="business.$submitted || business.city.$touched">
                    <div ng-show="business.city.$error.required">Danos una ciudad.</div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
            <div class="form-group signup-field">
                <input
                        class="form-control"
                        id="inputFacebook"
                        type="text"
                        placeholder="Facebook"
                        ng-model="supplier.FacebookUrl"/>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
            <div class="form-group signup-field">
                <input
                        class="form-control"
                        id="inputTwitter"
                        type="text"
                        placeholder="Twitter"
                        ng-model="supplier.TwitterUrl"/>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
            <div class="form-group signup-field">
                <input
                        class="form-control"
                        id="inputInstagram"
                        type="text"
                        placeholder="Instagram"
                        ng-model="supplier.InstagramUrl"/>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <button
                class="btn btn-default btn-submit prev"
                ng-hide="$isFirst()"
                ng-click="$previousStep()">Regresar</button>
        <button
                class="btn btn-default btn-submit next"
                ng-class="[{'invalid':!business.$valid && business.$submitted}]"
                ng-hide="$isLast()"
                ng-click="saveSupplierBusinessData(business, $nextStep)">Siguiente</button>
    </div>
</form>
