
	<div class="list-header suppliers-header clearfix">
		<div class="content">
      <i class="{{event.Name | icon}}"></i>
			<h4 class="">Proveedores para tu evento</h4>
			<div class="span-header" ng-if="totalSuppliers > 0">{{totalSuppliers}} proveedor{{totalSuppliers > 1 ? "es":""}}</div>
		</div>
	</div>
	<div class="container" ng-cloak="">
  <div class="search" ng-cloak="">
      <div class="clearfix">
          <form ng-submit="doQuery()" class="pull-right">
              <div class="col-md-9 col-sm-9 col-xs-10 supplier-search">
                  <input
                      placeholder="¿Qué buscas?"
                      ng-model="query"
                      class="pull-right">
              </div>
              <div class="col-md-3 col-sm-3 col-xs-2 supplier-search-button">
                  <button class="pull-right btn btn-default btn-search">
                      <span>Buscar</span>
                      <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
              </div>
          </form>
      </div>
  </div>
	<div class="no-results clearfix row" ng-if="totalSuppliers == 0"><i class="glyphicon glyphicon-flag"></i> No se encontraron proveedores.</div>
	<div class="col-md-12 filter-responsive" ng-if="totalSuppliers > 0">
		<div class="filter-list clearfix row" ng-click="isCollapsed = !isCollapsed">
			<span>Filtrar por:</span>
		</div>
		<div div="filter-content" uib-collapse="isCollapsed">
			<uib-accordion close-others="false">
				<uib-accordion-group ng-repeat="filterKey in getFilterNames()" is-open="groupStatus.isOpen">
					<uib-accordion-heading >
						<div ng-click="toggle()">
							{{filterKey | filterKey}}
							<i class="pull-right glyphicon {{groupStatus.isOpen ? 'glyphicon-chevron-down':'glyphicon-chevron-right'}}"></i>
						</div>
					</uib-accordion-heading>
					<ul>
						<li ng-repeat="filter in filters[filterKey]" class="filter-item" ng-click="doFilter(filterKey, filter)">
							{{filter.Title}}<span>{{filter.Count}}</span>
						</li>
            <li ng-if="currentFilter(filterKey.replace('Filter', 'Id'))">
              <a title="Quitar filtro" ng-click="clearFilter(filterKey.replace('Filter', 'Id'))" class="remove-filters">{{currentFilter(filterKey.replace('Filter', 'Id'))}} <i class="glyphicon glyphicon-remove"></i></a>
            </li>
					</ul>
				</uib-accordion-group>
			</uib-accordion>
		</div>
	</div>
	<div class="col-md-9">
		<div
			ng-repeat="supplier in suppliers"
			class="list-item clearfix row"
			infinite-scroll='nextPage()'
			infinite-scroll-disabled='loading'
			infinite-scroll-distance='1'>
			<div class="col-md-3 col-xs-4">
				<a href="#/suppliers/{{supplier.Id}}">
					<img src="img/photo-placeholder.jpg" ng-if="!supplier.LogoUrl"/>
					<img src="{{supplier.LogoUrl}}" ng-if="supplier.LogoUrl"/>
				</a>
			</div>
			<div class="col-md-9 col-xs-8">
				<a href="#/suppliers/{{supplier.Id}}">{{supplier.Name}}</a>
                                <div ng-show="supplier.SubscriptionType.Name=='All Star'" clasS="pull-right">
                                    <a href="/#/planner/chat/{{supplier.Id}}" title="Enviar mensaje">
                                        <img class='supplier-chat' src='/img/chat-icon.png'>
                                    </a>
                                </div>
																<span class="ligth-description"><i class="glyphicon glyphicon-pushpin"></i> {{supplier.City.Name}}, {{supplier.State.Name}}</span>
																<p class="description-elipsis">{{supplier.Description.substring(0,250)}}...</p>
				<div class="divider"></div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-8 col-sm-8 col-xs-12">
                            <span class="premium-service listing-service" ng-repeat="service in supplier.ServiceTypes">
                                <a href='/#/suppliers/browse/service/{{service.Id}}' title='{{service.Name}}'><i class="{{service.Name | icon}}"></i>
                                {{service.Name}}</a>
                            </span>
						</div>
						<div class="col-md-4 col-xs-12 col-sm-4">
							<a href="#/suppliers/{{supplier.Id}}" class="pull-right more-info">MAS INFORMACIÓN</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3" ng-if="totalSuppliers > 0">
		<div class="filter-list clearfix row">
			<span>Filtrar por:</span>
		</div>
		<div div="filter-content">
			<uib-accordion close-others="false">
				<uib-accordion-group ng-repeat="filterKey in getFilterNames()" is-open="groupStatus.isOpen">
					<uib-accordion-heading >
						<div ng-click="toggle()">
							{{filterKey | filterKey}}
							<i class="pull-right glyphicon {{groupStatus.isOpen ? 'glyphicon-chevron-down':'glyphicon-chevron-right'}}"></i>
						</div>
					</uib-accordion-heading>
					<ul>
						<li ng-repeat="filter in filters[filterKey]" class="filter-item" ng-click="doFilter(filterKey, filter)">
							{{filter.Title}}<span>{{filter.Count}}</span>
						</li>
            <li ng-if="currentFilter(filterKey.replace('Filter', 'Id'))">
              <a title="Quitar filtro" ng-click="clearFilter(filterKey.replace('Filter', 'Id'))" class="remove-filters">{{currentFilter(filterKey.replace('Filter', 'Id'))}} <i class="glyphicon glyphicon-remove"></i></a>
            </li>
					</ul>
				</uib-accordion-group>
			</uib-accordion>
		</div>
	</div>
</div>
