
<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
    <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <div class="carousel-image" style="background-image:url('{{slide.img}}')">
            <div class="carousel-caption">{{slide.text}}</div>
        </div>
    </uib-slide>
</uib-carousel>
<div class="img-pad">
<div class="container supplier frame header">

    <div class=" col-md-1 col-md-offset-1 " ng-repeat="pic in supplier.Pictures">
        <img
                ng-show="pic"
                src="{{pic}}"
                class="default-image"/>
    </div>
</div>
</div>

<div class="container gray-bg supplier">
    <div class="frame header clearfix">
    <div class="col-lg-9 col-md-9 col-sm-12">
    <div class="col-xs-3">
        <img class="avatar img-circle" src="img/photo-placeholder.jpg" ng-if="supplier.LogoId < 0"/>
        <img class="avatar img-circle" src="{{supplier.LogoUrl}}" ng-if="supplier.LogoId > 0"/>
    </div>
    <div class="col-xs-9">
        <div class="col-xs-11">
            <h1 class="index-title">{{supplier.Name}}</h1>
        </div>
            <div class="col-xs-1 social">
                <a ng-href="{{supplier.FacebookUrl}}"
                   ng-if="supplier.FacebookUrl">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                <a ng-href="{{supplier.TwitterUrl}}"
                   ng-if="supplier.TwitterUrl">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
                <a ng-href="{{supplier.InstagramUrl}}"
                   ng-if="supplier.InstagramUrl">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>

            </div>
        <div class="col-sm-10 col-lg-pull-0">
            <p class="address">{{supplier.Address | firstLetter }}</p>
            <p class="address">{{supplier.City.Name | firstLetter}},{{supplier.State.Name | firstLetter}}</p>
            <pc class="address">{{supplier.Address}}</pc>
        </div>
        </div>
                <div class="col-xs-11">
                    <button class="btn btn-default btn-submit" >
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        Enviar Mensaje
                    </button>
                </div>
        </div>
    </div>
    <div class="col-xs-6" style="padding-top: 49px">
<p>{{supplier.Description}}</p>
    </div>
</div>
