<div class="supplier" ng-cloak="">
    <div class="col-md-3 col-sm-3 col-xs-12 menu-item">
        <a href="#/dashboard">Mi Perfil</a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 menu-item odd">
        <a href="#/supplier/account">Mi Cuenta</a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 menu-item active">
        <a href="#/upgrade">Suscripción</a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 menu-item odd">
      <a href="#/supplier/chat" ng-if="currentSubscription.Name=='All Star'">Chat</a>
      <a href="#/upgrade" ng-if="currentSubscription.Name!='All Star'" title="¡Conviértete en Proveedor All Star!">Chat<span class="supplier-upgrade">¡Solicitar!</span></a>
    </div>
</div>
<div class="container main upgrade" ng-cloak="">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="promt">¿Qué tipo de suscripción deseas?</h1>
        </div>
    </div>

    <div style="text-align: center;">
        <div class="account request"
             ng-class="{'selected':subscription.Id === currentSubscription.Id}"
             ng-repeat="subscription in subscriptions">
            <h2>{{subscription.Name}}</h2>
            <img class="icon" src="img/star.png" ng-repeat="star in getNumber(subscription.Stars) track by $index"/>
            <p ng-bind-html="subscription.Description"></p>
            <h3>{{subscription.MonthlyFee === 0 ? "Gratis" : "$ " + subscription.MonthlyFee + "/mes"}}</h3>
            <button
                ng-show="subscription.Id !== currentSubscription.Id"
                ng-click="changeSubscription(subscription.Id)"
                class="request-subscription btn btn-default btn-submit col-md-12 col-sm-12 col-xs-12">
                Solicitar
            </button>
        </div>
    </div>
</div>
